# [dbo].[COVID_CASES]

In [0]:
USE [OIS]
GO

In [0]:
/****** Object:  Table [dbo].[COVID_CASES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COVID_CASES](
	[PAKNO] [float] NULL,
	[RELATION] [float] NULL,
	[NAME] [varchar](50) NULL,
	[CLR_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[CUSTOMIZE_DATA]

In [0]:
/****** Object:  Table [dbo].[CUSTOMIZE_DATA]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMIZE_DATA](
	[DATA_NAME] [varchar](50) NULL,
	[TABLE_NAME] [varchar](500) NULL,
	[ONO] [float] NULL,
	[ONLY_NAME] [varchar](500) NULL
) ON [PRIMARY]
GO

# [dbo].[MY_TAB]

In [0]:
/****** Object:  Table [dbo].[MY_TAB]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MY_TAB](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[PAK_ORDER] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[OFF_BASIC_INFO]

In [0]:
/****** Object:  Table [dbo].[OFF_BASIC_INFO]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFF_BASIC_INFO](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[FULL_NAME] [varchar](50) NOT NULL,
	[OFFICIAL_NAME] [varchar](15) NOT NULL,
	[MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[DATE_OF_COMMISSION] [datetime2](7) NOT NULL,
	[CURRENT_RANK_CODE] [numeric](2, 0) NOT NULL,
	[OFFICER_APPOINTMENT] [varchar](4000) NULL,
	[OFFICERS_POST_LOCATION] [varchar](4000) NULL,
	[OFFICERS_DEPLOCATION] [varchar](4000) NULL,
	[OFFICER_POSTING_DATE] [datetime2](7) NULL,
	[OFFICER_DEP_DATE] [datetime2](7) NULL,
	[BR_SPLTY_HEADING] [varchar](4000) NULL,
	[CALCULATE_SERVICE] [varchar](4000) NULL,
	[MED_CAT] [varchar](4000) NULL,
	[DATE_OF_BIRTH] [datetime2](7) NULL,
	[BLOOD_GROUP] [varchar](3) NULL,
	[RANK] [varchar](8) NOT NULL,
	[BRANCH] [varchar](4000) NULL
) ON [PRIMARY]
GO

# [dbo].[OIS_TABLES]

In [0]:
/****** Object:  Table [dbo].[OIS_TABLES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OIS_TABLES](
	[TNAME] [varchar](100) NULL,
	[TABTYPE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[PENDING_AWARDS_ACTIVITY_WISE]

In [0]:
/****** Object:  Table [dbo].[PENDING_AWARDS_ACTIVITY_WISE]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PENDING_AWARDS_ACTIVITY_WISE](
	[OWNER_PAKNO] [numeric](5, 0) NULL,
	[REP_OFF_ACTION] [numeric](4, 0) NULL,
	[SMO_ACTION] [numeric](4, 0) NULL,
	[IO] [numeric](4, 0) NULL,
	[NSRO] [numeric](4, 0) NULL,
	[NSO] [numeric](4, 0) NULL,
	[SO] [numeric](4, 0) NULL,
	[AOC] [numeric](4, 0) NULL,
	[UPCOMING_AWARDS_NOMINEES] [numeric](4, 0) NULL,
	[PREVIOUS_AWARDS_NOMINEES] [numeric](4, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[PENDING_OERS_ACTIVITY_WISE]

In [0]:
/****** Object:  Table [dbo].[PENDING_OERS_ACTIVITY_WISE]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PENDING_OERS_ACTIVITY_WISE](
	[OWNER_PAKNO] [numeric](5, 0) NULL,
	[REP_OFF_ACTION] [numeric](4, 0) NULL,
	[SMO_ACTION] [numeric](4, 0) NULL,
	[IO] [numeric](4, 0) NULL,
	[NSRO] [numeric](4, 0) NULL,
	[NSO] [numeric](4, 0) NULL,
	[SO] [numeric](4, 0) NULL,
	[AOC] [numeric](4, 0) NULL,
	[PARA_15_SPLT_ACTION] [numeric](4, 0) NULL,
	[DCAS_P_ACTION] [numeric](4, 0) NULL,
	[PSO_ACTION_PARA_17A] [numeric](4, 0) NULL,
	[PSO_ACTION_PARA_17B] [numeric](4, 0) NULL,
	[VCAS_ACTION] [numeric](4, 0) NULL,
	[CAS_ACTION] [numeric](4, 0) NULL,
	[P_BRANCH_ACTION] [numeric](4, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[PROFILE_ACCESS_VIEW]

In [0]:
/****** Object:  Table [dbo].[PROFILE_ACCESS_VIEW]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILE_ACCESS_VIEW](
	[BOARDTYPEVALUE] [numeric](5, 0) NOT NULL,
	[BOARDCATVALUE] [numeric](5, 0) NULL,
	[APPGROUPVALUE] [numeric](5, 0) NOT NULL,
	[APPVALUE] [numeric](5, 0) NOT NULL,
	[FROMRANKVALUE] [numeric](5, 0) NULL,
	[TORANKVALUE] [numeric](5, 0) NULL,
	[BRANCHACCESS] [varchar](2000) NULL,
	[PAKNO] [varchar](100) NULL,
	[PASSWORD] [varchar](500) NULL,
	[ACCESS_LEVEL] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[RETIREDINFO]

In [0]:
/****** Object:  Table [dbo].[RETIREDINFO]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RETIREDINFO](
	[IDENTITY] [float] NOT NULL,
	[NAME] [varchar](50) NULL,
	[CATEGORY] [numeric](38, 0) NULL,
	[RANK] [varchar](10) NULL,
	[RANKDECODE] [varchar](50) NULL,
	[PAKNO] [varchar](15) NULL,
	[BRANCHTRADECODE] [varchar](10) NULL,
	[BRANCHTRADEDECODE] [varchar](50) NULL,
	[UNITCODE] [varchar](10) NULL,
	[UNITDECODE] [varchar](50) NULL,
	[BASECODE] [varchar](10) NULL,
	[BASEDECODE] [varchar](50) NULL,
	[FATHERNAME] [varchar](50) NULL,
	[DATEOFCOMMISSION] [datetime2](7) NULL,
	[DATEOFSOD] [datetime2](7) NULL,
	[REASON] [numeric](38, 0) NULL,
	[DOB] [datetime2](7) NULL,
	[HEIGHT] [varchar](50) NULL,
	[BUILD] [varchar](50) NULL,
	[REGISTRATIONDATE] [datetime2](7) NULL,
	[SERVICESTATUS] [varchar](50) NULL,
	[SERVICESTATUSCODE] [varchar](10) NULL,
	[EYECOLOR] [varchar](50) NULL,
	[HAIRCOLOR] [varchar](50) NULL,
	[CNIC] [varchar](50) NULL,
	[IDENTIFICATIONMARK] [varchar](50) NULL,
	[BLOODGROUP] [varchar](10) NULL,
	[PERMANENTADDRESS] [varchar](1500) NULL,
	[PRESENTADDRESS] [varchar](1500) NULL,
	[TELEPHONENO] [varchar](50) NULL,
	[PHOTOBLOB] [image] NULL,
	[SIGNATURE] [image] NULL,
	[NEWCARDNO] [varchar](50) NULL,
	[CARDEXPIRY] [datetime2](7) NULL,
	[IP] [varchar](50) NULL,
	[LOGDATETIME] [datetime2](7) NULL,
	[USERID] [varchar](50) NULL,
	[ISAPPROVED] [numeric](38, 0) NULL,
	[ISPRINTED] [numeric](38, 0) NULL,
	[APPROVEDREJECTEDBY] [varchar](50) NULL,
	[APPROVEDREJECTEDON] [varchar](50) NULL,
	[REMARKS] [varchar](1500) NULL,
	[PRINTEDDATE] [datetime2](7) NULL,
	[ISDISPATCH] [numeric](38, 0) NULL,
	[DISPATCHDATE] [datetime2](7) NULL,
	[DISPATCHUNIT] [varchar](10) NULL,
	[RECEIVEDACKOWLEDGE] [numeric](38, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[SECTIONS_HIERARCHY]

In [0]:
/****** Object:  Table [dbo].[SECTIONS_HIERARCHY]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECTIONS_HIERARCHY](
	[UNIT_CODE] [varchar](4) NULL,
	[SECTION_CODE] [varchar](4) NULL,
	[SHOP_CODE] [varchar](4) NULL,
	[DESK_CODE] [varchar](4) NULL
) ON [PRIMARY]
GO

# [dbo].[SHUHDAINFO]

In [0]:
/****** Object:  Table [dbo].[SHUHDAINFO]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHUHDAINFO](
	[IDENTITY] [float] NOT NULL,
	[NAME] [varchar](50) NULL,
	[DOB] [datetime2](7) NULL,
	[BLOODGROUP] [varchar](10) NULL,
	[GENDER] [varchar](10) NULL,
	[REGISTRATIONDATE] [datetime2](7) NULL,
	[CNIC] [varchar](50) NULL,
	[IDENTIFICATIONMARK] [varchar](50) NULL,
	[MAILINGADDRESS] [varchar](50) NULL,
	[TELEPHONENO] [varchar](50) NULL,
	[ADDRESS] [varchar](500) NULL,
	[PHOTOBLOB] [image] NULL,
	[SIGNATURE] [image] NULL,
	[IP] [varchar](50) NULL,
	[LOGDATETIME] [datetime2](7) NULL,
	[USERID] [varchar](50) NULL,
	[RELATIONSHIP] [numeric](38, 0) NULL,
	[REASON] [numeric](38, 0) NULL,
	[PAKNO] [varchar](15) NULL,
	[SHAHEEDNAME] [varchar](50) NULL,
	[SHAHEEDCATEGORY] [numeric](38, 0) NULL,
	[SHAHEEDEXPIREDON] [datetime2](7) NULL,
	[SHAHEEDLASTUNIT] [varchar](50) NULL,
	[SHAHEEDLASTUNITCODE] [varchar](10) NULL,
	[SHAHEEDRANK] [varchar](50) NULL,
	[SHAHEEDRANKCODE] [varchar](10) NULL,
	[NEWCARDNO] [varchar](50) NULL,
	[CARDEXPIRY] [datetime2](7) NULL,
	[ISAPPROVED] [numeric](38, 0) NULL,
	[ISPRINTED] [numeric](38, 0) NULL,
	[APPROVEDREJECTEDBY] [varchar](50) NULL,
	[APPROVEDREJECTEDON] [datetime2](7) NULL,
	[REMARKS] [varchar](1500) NULL,
	[PRINTEDDATE] [datetime2](7) NULL,
	[ISDISPATCH] [numeric](38, 0) NULL,
	[DISPATCHDATE] [datetime2](7) NULL,
	[DISPATCHUNIT] [varchar](50) NULL,
	[RECEIVEDACKOWLEDGE] [numeric](38, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[T_ACTUAL_VACANCIES_PHATTA]

In [0]:
/****** Object:  Table [dbo].[T_ACTUAL_VACANCIES_PHATTA]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ACTUAL_VACANCIES_PHATTA](
	[VACANCY_BASE] [float] NULL,
	[VACANCY_BRANCH] [varchar](2) NULL,
	[BRANCH_DECODE] [varchar](10) NULL,
	[PLTOFF] [float] NULL,
	[FLGOFF] [float] NULL,
	[FLTLT] [float] NULL,
	[SQNLDR] [float] NULL,
	[WGCDR] [float] NULL,
	[GPCAPT] [float] NULL,
	[AIRCDRE] [float] NULL,
	[AVM] [float] NULL,
	[AM] [float] NULL,
	[ACM] [float] NULL,
	[MOA] [float] NULL,
	[STATE_DATE] [datetime2](7) NULL,
	[VACANCY_SUB_BRANCH] [float] NULL,
	[SUB_BRANCH_DECODE] [varchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[T_ADDRESSES]

In [0]:
/****** Object:  Table [dbo].[T_ADDRESSES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ADDRESSES](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[ADDRESS_TYPE] [numeric](1, 0) NOT NULL,
	[HOUSE_NO] [varchar](20) NULL,
	[STREET_NO] [numeric](4, 0) NULL,
	[WARD_NO] [varchar](15) NULL,
	[MOHALLAH_OR_SECTOR_NO] [varchar](100) NULL,
	[VILLAGE] [varchar](30) NULL,
	[POST_OFFICE] [varchar](30) NULL,
	[POSTAL_CODE] [varchar](10) NULL,
	[POLICE_STATION] [varchar](15) NULL,
	[TEHSIL_OR_TOWN] [numeric](2, 0) NULL,
	[CITY_OR_DISTRICT_CODE] [numeric](4, 0) NOT NULL,
	[PROVINCE_OR_STATE_CODE] [numeric](3, 0) NULL,
	[COUNTRY_CODE] [numeric](3, 0) NULL,
	[PHONE_NO1] [varchar](100) NULL,
	[PHONE_NO2] [varchar](100) NULL,
	[EMAIL_ADDRESS] [varchar](50) NULL,
	[ADDRESS_OLD] [varchar](100) NULL,
	[AREA_CODE] [numeric](2, 0) NULL,
	[ADDRESS] [varchar](200) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL,
	[REMARKS] [varchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[T_ANTHROPOLOGICAL_DATA]

In [0]:
/****** Object:  Table [dbo].[T_ANTHROPOLOGICAL_DATA]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ANTHROPOLOGICAL_DATA](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[TORSO_SIT_HEIGHT] [numeric](10, 2) NULL,
	[BUTTOCK_KNEE_LENGTH] [numeric](10, 2) NULL,
	[BUTTOCK_HEEL_LENGTH] [numeric](10, 2) NULL,
	[AUTHORITY] [varchar](15) NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_AOR_UNITS]

In [0]:
/****** Object:  Table [dbo].[T_AOR_UNITS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_AOR_UNITS](
	[AOR_SQN] [varchar](50) NULL,
	[OIS_CODE] [varchar](4) NULL
) ON [PRIMARY]
GO

# [dbo].[T_AWARDS]

In [0]:
/****** Object:  Table [dbo].[T_AWARDS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_AWARDS](
	[PAK_NO] [numeric](5, 0) NOT NULL,
	[AWARD_GIVEN] [numeric](4, 0) NOT NULL,
	[AWD_DATE_FOR] [datetime2](7) NOT NULL,
	[AWD_TYPE_CODE] [numeric](4, 0) NOT NULL,
	[AUTHORITY] [varchar](50) NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL,
	[GAZZETTE_NOTE] [varchar](35) NULL,
	[DATE_GAZ_NOTE] [datetime2](7) NULL,
	[APPROVED_BY_ACASP] [numeric](1, 0) NULL,
	[APPROVED_BY_DCASP] [numeric](1, 0) NULL,
	[APPROVED_BY_VCAS] [numeric](1, 0) NULL,
	[APPROVED_BY_CAS] [numeric](1, 0) NULL,
	[APPROVED_BY_JSHQ] [numeric](1, 0) NULL,
	[APPROVED_BY_MOD] [numeric](1, 0) NULL,
	[STARS] [numeric](1, 0) NOT NULL,
	[REMARKS] [varchar](250) NULL,
	[AWARDED] [numeric](1, 0) NULL,
	[DK_AWARDS] [varchar](100) NULL,
	[PAGE_COUNT] [numeric](2, 0) NULL,
	[AWD_STATUS] [numeric](1, 0) NULL,
	[FINALIZED] [numeric](1, 0) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_BANK_BRANCH_CODES]

In [0]:
/****** Object:  Table [dbo].[T_BANK_BRANCH_CODES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BANK_BRANCH_CODES](
	[BANK_CODE] [varchar](8) NULL,
	[BANK_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_BANKERS]

In [0]:
/****** Object:  Table [dbo].[T_BANKERS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BANKERS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[ACCOUNT_NO] [varchar](30) NOT NULL,
	[BANK_BRANCH_CODE] [varchar](8) NULL,
	[ACCOUNT_TYPE] [numeric](1, 0) NULL,
	[BANK_NAME] [varchar](50) NOT NULL,
	[BANK_CITY_CODE] [numeric](4, 0) NULL,
	[BANK_COUNTRY_CODE] [numeric](3, 0) NULL,
	[JOINT_ACCOUNT] [numeric](1, 0) NULL,
	[REMARKS] [varchar](50) NULL,
	[BRANCH_LOCATION] [varchar](60) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_BEARD]

In [0]:
/****** Object:  Table [dbo].[T_BEARD]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BEARD](
	[PAKNO] [numeric](5, 0) NULL,
	[PSO] [varchar](15) NULL
) ON [PRIMARY]
GO

# [dbo].[T_BIODATA]

In [0]:
/****** Object:  Table [dbo].[T_BIODATA]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BIODATA](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[FATHERS_NAME] [varchar](45) NULL,
	[DATE_OF_BIRTH] [datetime2](7) NULL,
	[PLACE_OF_BIRTH] [varchar](30) NULL,
	[NATIONALITY_CODE] [numeric](3, 0) NULL,
	[PROVINCE_OF_DOMICILE] [numeric](3, 0) NULL,
	[RELIGION_CODE] [numeric](2, 0) NULL,
	[SECT_CODE] [numeric](2, 0) NULL,
	[CAST_CODE] [numeric](3, 0) NULL,
	[NAT_ID_CARD_NO] [varchar](15) NULL,
	[NAT_ITAX_NO] [varchar](15) NULL,
	[DATE_JOINING_PAF] [datetime2](7) NULL,
	[AUTH_OF_COMM] [varchar](15) NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL,
	[RANK_SERVICE] [numeric](1, 0) NULL,
	[MARITAL_STATUS] [varchar](1) NULL,
	[GENDER] [varchar](1) NOT NULL,
	[MEDICAL_CATEGORY] [varchar](25) NULL,
	[BLOOD_GROUP] [varchar](3) NULL,
	[HEIGHT_IN_METERS] [numeric](1, 0) NULL,
	[HEIGHT_IN_CM] [numeric](2, 0) NULL,
	[WEIGHT_IN_KGS] [numeric](3, 0) NULL,
	[BUILT] [varchar](10) NULL,
	[IDENTIFICATION_MARK] [varchar](30) NULL,
	[MOTHER_TONGUE] [numeric](3, 0) NULL,
	[EYES_COLOR] [varchar](15) NULL,
	[HAIR_COLOUR] [varchar](15) NULL,
	[HOBBIES] [varchar](70) NULL,
	[PHOTOGRAPH] [varchar](70) NULL,
	[MEDICAL_CATEGORY_TEMPORARY] [varchar](25) NULL,
	[BIRTH_DISTT_CODE] [numeric](4, 0) NULL,
	[BIRTH_TEHSIL_CODE] [numeric](2, 0) NULL,
	[MEDICAL_BOARD_DATE] [datetime2](7) NULL,
	[NAT_ID_NAADRA_NO] [varchar](20) NULL,
	[NAT_ID_NAADRA_FROM] [datetime2](7) NULL,
	[NAT_ID_NAADRA_TO] [datetime2](7) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL,
	[DEBARRED] [varchar](4) NULL,
	[DEBARRED_DATE] [datetime2](7) NULL,
	[DEBARRED_REMARKS] [varchar](200) NULL
) ON [PRIMARY]
GO

# [dbo].[T_BRANCH_CHANGE_HISTORY]

In [0]:
/****** Object:  Table [dbo].[T_BRANCH_CHANGE_HISTORY]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BRANCH_CHANGE_HISTORY](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[FROM_DATE] [datetime2](7) NULL,
	[REMARKS] [varchar](100) NULL,
	[AUTHORITY] [varchar](25) NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL,
	[OLD_MAIN_BRANCH] [varchar](1) NULL,
	[OLD_SUB_BRANCH] [numeric](1, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CADET_HISTORY]

In [0]:
/****** Object:  Table [dbo].[T_CADET_HISTORY]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CADET_HISTORY](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[CADET_PAKNO] [numeric](11, 0) NULL,
	[COURSE_NO_AT_REPORTING] [numeric](3, 0) NULL,
	[COURSE_TYPE_AT_REPORTING] [numeric](2, 0) NULL,
	[COURSE_NO_AT_GRADUATION] [varchar](3) NULL,
	[COURSE_TYPE_AT_GRADUATION] [numeric](2, 0) NULL,
	[HIGHEST_MAJ_QUALIFICATION_CODE] [numeric](1, 0) NULL,
	[HIGHEST_SUB_QUALIFICATION_CODE] [numeric](1, 0) NULL,
	[HIGHEST_SUBJECT_SPLTY_CODE] [numeric](2, 0) NULL,
	[CUMULATIVE_GPA_OR_PERCENTAGE] [varchar](5) NULL,
	[REMARKS] [varchar](500) NULL,
	[OVERALL_PCT] [numeric](4, 0) NULL,
	[MERIT_ORDER] [varchar](10) NULL,
	[ACADEMICS_PCT] [numeric](4, 2) NULL,
	[FLYING_PCT] [numeric](4, 2) NULL,
	[GST_PCT] [numeric](4, 2) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CHECK_FORM]

In [0]:
/****** Object:  Table [dbo].[T_CHECK_FORM]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CHECK_FORM](
	[PAKNO] [float] NULL,
	[OER_FROM] [datetime2](7) NULL,
	[OER_TO] [datetime2](7) NULL,
	[OER_SOURCE] [float] NULL,
	[NEXT_OF_KIN_NAME] [varchar](50) NULL,
	[NEXT_OF_KIN_RELATION] [varchar](50) NULL,
	[NEXT_OF_KIN_ADDRESS] [varchar](1000) NULL,
	[NEXT_OF_KIN_PHONENO] [varchar](50) NULL,
	[NOTIFY_NAME] [varchar](50) NULL,
	[NOTIFY_RELATION] [varchar](50) NULL,
	[NOTIFY_ADDRESS] [varchar](1000) NULL,
	[NOTIFY_PHONENO] [varchar](50) NULL,
	[BENEFCIARY_NAME] [varchar](50) NULL,
	[BENEFCIARY_RELATION] [varchar](50) NULL,
	[BENEFCIARY_ADDRESS] [varchar](1000) NULL,
	[BENEFCIARY_PHONENO] [varchar](50) NULL,
	[ISSUE_WITH_FAMILY] [varchar](4000) NULL,
	[CHANGE_IN_CHECK_FORM] [varchar](100) NULL,
	[UPDATE_ON] [datetime2](7) NULL,
	[OWN_MOBILE_NO] [varchar](50) NULL,
	[NEXT_OF_KIN_RELATION_CODE] [float] NULL,
	[BENEFCIARY_RELATION_CODE] [float] NULL,
	[NOTIFY_RELATION_CODE] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_CHECK_FORMS_RXD]

In [0]:
/****** Object:  Table [dbo].[T_CHECK_FORMS_RXD]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CHECK_FORMS_RXD](
	[PAKNO] [numeric](8, 0) NULL,
	[RXD_ON] [datetime2](7) NULL,
	[IS_RXD] [numeric](1, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_ACDY_APPMNT]

In [0]:
/****** Object:  Table [dbo].[T_CODE_ACDY_APPMNT]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_ACDY_APPMNT](
	[APPMNT_CODE] [numeric](2, 0) NOT NULL,
	[APPMNT_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_ACDY_AWARD]

In [0]:
/****** Object:  Table [dbo].[T_CODE_ACDY_AWARD]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_ACDY_AWARD](
	[AWARD_CODE] [numeric](2, 0) NOT NULL,
	[AWARD_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_AIRCRAFT_GROUPS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_AIRCRAFT_GROUPS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_AIRCRAFT_GROUPS](
	[GROUP_DECODE_SHORT] [varchar](50) NULL,
	[GROUP_DECODE_LONG] [varchar](50) NULL,
	[GROUP_CODE] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_AIRCRAFTS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_AIRCRAFTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_AIRCRAFTS](
	[AC_TYPE] [varchar](5) NULL,
	[TYPE_DECODE] [varchar](25) NULL,
	[TYPE_DECODE_SHORT] [varchar](15) NULL,
	[AC_CODE] [numeric](3, 0) NULL,
	[AC_DECODE] [varchar](25) NULL,
	[MAIN_STREAM_CODE] [numeric](2, 0) NULL,
	[AIRCRAFT_GROUP_CODE] [float] NULL,
	[AIRCRAFT_GROUP_DECODE] [varchar](50) NULL,
	[AIRCRAFT_DECODE_NEW] [varchar](50) NULL,
	[TYPE_DECODE_NEW] [varchar](50) NULL,
	[AIRCRAFT_ORDER] [float] NULL,
	[STREAM_ORDER] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_AIRMEN_TRADES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_AIRMEN_TRADES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_AIRMEN_TRADES](
	[MAIN_BRANCH_CODE] [numeric](5, 0) NOT NULL,
	[SUB_BRANCH_CODE] [numeric](2, 0) NOT NULL,
	[BRANCH_CATEGORY_CODE] [numeric](2, 0) NOT NULL,
	[MAIN_BRANCH_DECODE] [varchar](50) NULL,
	[SUB_BRANCH_DECODE] [varchar](50) NULL,
	[BRANCH_GROUP_CODE] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_ALL_RANKS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_ALL_RANKS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_ALL_RANKS](
	[RANK_CODE] [varchar](2) NULL,
	[RANK_DECODE] [varchar](25) NULL,
	[RANK_CODE_NUM] [numeric](3, 0) NOT NULL,
	[ORG] [numeric](2, 0) NULL,
	[RANK_ABBREVIATED] [varchar](10) NULL,
	[RANK_DECODE_SHORT] [varchar](15) NULL,
	[RANK_LEVEL] [numeric](1, 0) NULL,
	[RANK_GROUP_CODE] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_APPOINTMENTS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_APPOINTMENTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_APPOINTMENTS](
	[APPOINTMENT_CODE] [numeric](5, 0) NOT NULL,
	[APPOINTMENT_DECODE] [varchar](100) NULL,
	[APP_GRP_CODE] [numeric](3, 0) NULL,
	[DIS_ISSU_AUTHORITY] [numeric](1, 0) NULL,
 CONSTRAINT [PK_T_CODE_APPOINTMENTS] PRIMARY KEY CLUSTERED 
(
	[APPOINTMENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[T_CODE_APPOINTMENTS_FOR_KPA]

In [0]:
/****** Object:  Table [dbo].[T_CODE_APPOINTMENTS_FOR_KPA]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_APPOINTMENTS_FOR_KPA](
	[APPOINTMENT] [varchar](100) NULL,
	[MAIN_BRANCH_CODE] [varchar](1) NULL,
	[SUB_BRANCH_CODE] [float] NULL,
	[APPOINTMENT_CODE] [float] NULL,
	[APPT_GRP_CODE] [float] NULL,
	[DEP_UNIT_TYPE] [float] NULL,
	[DEP_UNIT_GRP] [float] NULL,
	[DEP_UNIT_CODE] [varchar](5) NULL,
	[DEP_SECTION_CODE] [float] NULL,
	[DEP_BASE_CODE] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_APPT_EXP]

In [0]:
/****** Object:  Table [dbo].[T_CODE_APPT_EXP]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_APPT_EXP](
	[APPT_GRP_CODE] [float] NULL,
	[APPT_GRP] [varchar](100) NULL,
	[MAIN_BRANCH_CODE] [varchar](1) NULL,
	[SUB_BRANCH_CODE] [float] NULL,
	[LEGEND] [varchar](1000) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_AREAS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_AREAS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_AREAS](
	[AREA_CODE] [numeric](2, 0) NOT NULL,
	[AREA_DECODE] [varchar](15) NULL,
	[AREA_COMMAND_CODE] [varchar](1) NOT NULL,
	[PROVINCE_CODE] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_ARM_TYPES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_ARM_TYPES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_ARM_TYPES](
	[ARM_CODE] [numeric](2, 0) NOT NULL,
	[ARM_DECODE_SHORT] [varchar](15) NULL,
	[ARM_DECODE_LONG] [varchar](40) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_AWARDS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_AWARDS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_AWARDS](
	[AWD_TYPE_CODE] [numeric](1, 0) NOT NULL,
	[AWD_SUBTYPE_CODE] [numeric](4, 0) NOT NULL,
	[AWD_TYPE_DECODE] [varchar](20) NULL,
	[AWD_SUBTYPE_DECODE] [varchar](100) NULL,
	[ORDER_OF_MERIT] [numeric](2, 0) NULL,
	[WRITTEN_OR_HIDDEN] [numeric](1, 0) NULL,
	[AWD_SUBTYPE_DECODE_SHORT] [varchar](50) NULL,
	[AWD_DATE_FOR] [varchar](15) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_AWARDS_OLD_ORDER]

In [0]:
/****** Object:  Table [dbo].[T_CODE_AWARDS_OLD_ORDER]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_AWARDS_OLD_ORDER](
	[AWD_TYPE_CODE] [numeric](1, 0) NULL,
	[AWD_SUBTYPE_CODE] [numeric](4, 0) NULL,
	[AWD_TYPE_DECODE] [varchar](20) NULL,
	[AWD_SUBTYPE_DECODE] [varchar](40) NULL,
	[ORDER_OF_MERIT] [numeric](2, 0) NULL,
	[WRITTEN_OR_HIDDEN] [numeric](1, 0) NULL,
	[AWD_SUBTYPE_DECODE_SHORT] [varchar](20) NULL,
	[AWD_DATE_FOR] [varchar](15) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_BASES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_BASES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_BASES](
	[BASE_CODE] [numeric](2, 0) NOT NULL,
	[BASE_DECODE_SHORT] [varchar](10) NULL,
	[BASE_DECODE_LONG] [varchar](30) NULL,
	[BASE_TYPE] [numeric](1, 0) NULL,
	[BASE_COMMAND] [varchar](1) NOT NULL,
	[BASE_AREA] [numeric](2, 0) NOT NULL,
	[STATUS_DATE] [datetime2](7) NULL,
	[STATUS_DATE_TO] [datetime2](7) NULL,
	[STATUS] [float] NULL,
 CONSTRAINT [PK_T_CODE_BASES] PRIMARY KEY CLUSTERED 
(
	[BASE_CODE] ASC,
	[BASE_COMMAND] ASC,
	[BASE_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[T_CODE_BASES_NEW]

In [0]:
/****** Object:  Table [dbo].[T_CODE_BASES_NEW]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_BASES_NEW](
	[BASE_CODE] [numeric](2, 0) NOT NULL,
	[BASE_DECODE_SHORT] [varchar](10) NULL,
	[BASE_DECODE_LONG] [varchar](30) NULL,
	[BASE_TYPE] [numeric](1, 0) NULL,
	[BASE_COMMAND] [varchar](1) NOT NULL,
	[BASE_AREA] [numeric](2, 0) NOT NULL,
	[STATUS_DATE] [datetime2](7) NULL,
	[STATUS_DATE_TO] [datetime2](7) NULL,
	[STATUS] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_BRANCH_GROUPS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_BRANCH_GROUPS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_BRANCH_GROUPS](
	[CATEGORY_CODE] [numeric](2, 0) NULL,
	[GROUP_CODE] [numeric](2, 0) NOT NULL,
	[GROUP_DECODE] [varchar](30) NULL,
	[GROUP_DECODE_LONG] [varchar](60) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_BRANCHES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_BRANCHES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_BRANCHES](
	[MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[MAIN_BRANCH_DECODE] [varchar](10) NOT NULL,
	[SUB_BRANCH_DECODE] [varchar](10) NOT NULL,
	[MAIN_STREAM_CODE] [numeric](2, 0) NULL,
	[MAIN_BRANCH_ORDER] [numeric](3, 0) NULL,
	[BRANCH_PSO] [varchar](15) NULL,
	[BRANCH_GROUP] [varchar](50) NULL,
	[BRANCH_PSO_ORDER] [numeric](2, 0) NULL,
	[CAC_GROUP] [varchar](50) NULL,
	[BRANCH_GROUP_CODE] [numeric](2, 0) NULL,
	[SELECTORDER] [numeric](38, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_CASTS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_CASTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_CASTS](
	[CAST_CODE] [numeric](3, 0) NOT NULL,
	[CAST_DECODE] [varchar](25) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_CAT_TYPES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_CAT_TYPES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_CAT_TYPES](
	[CAT_TYPE_CODE] [numeric](2, 0) NULL,
	[CAT_TYPE_DECODE] [varchar](15) NULL,
	[DESCRIPTION] [char](25) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_COMM_TYPES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_COMM_TYPES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_COMM_TYPES](
	[TOC_CODE] [numeric](2, 0) NOT NULL,
	[TOC_DECODE] [varchar](15) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_COMMAND_DECISIONS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_COMMAND_DECISIONS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_COMMAND_DECISIONS](
	[DEC_CODE] [numeric](2, 0) NULL,
	[DEC_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_COMMANDS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_COMMANDS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_COMMANDS](
	[COMMAND_CODE] [varchar](1) NOT NULL,
	[COMMAND_DECODE_SHORT] [char](3) NULL,
	[COMMAND_DECODE_LONG] [varchar](25) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_COUNTRIES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_COUNTRIES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_COUNTRIES](
	[COUNTRY_CODE] [numeric](3, 0) NOT NULL,
	[COUNTRY_DECODE] [varchar](25) NOT NULL,
	[NATIONALITY] [varchar](25) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_COURSE_CLASSIFICATIONS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_COURSE_CLASSIFICATIONS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_COURSE_CLASSIFICATIONS](
	[COURSE_MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[COURSE_SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[COURSE_CATEGORY_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_GROUP_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_SUB_GROUP_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_SPLTY_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_CATEGORY_DECODE] [varchar](50) NULL,
	[COURSE_WEAPON_GROUP_DECODE] [varchar](50) NULL,
	[COURSE_WEAPON_SUB_GROUP_DECODE] [varchar](50) NULL,
	[COURSE_WEAPON_SPLTY_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_COURSE_RECOMMENDATION]

In [0]:
/****** Object:  Table [dbo].[T_CODE_COURSE_RECOMMENDATION]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_COURSE_RECOMMENDATION](
	[REC_CODE] [numeric](3, 0) NOT NULL,
	[REC_DECODE] [varchar](100) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_COURSE_TYPES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_COURSE_TYPES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_COURSE_TYPES](
	[COURSE_TYPE_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_TYPE_DECODE] [varchar](15) NULL,
	[COURSE_BRANCH_CODE] [varchar](1) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_COURSES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_COURSES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_COURSES](
	[COURSE_MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[COURSE_SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[COURSE_CATEGORY_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_GROUP_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_SUB_GROUP_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_SPLTY_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_SERIAL_NO] [numeric](3, 0) NOT NULL,
	[COURSE_NOMENCLATURE] [varchar](500) NOT NULL,
	[COURSE_CONTROL_NO] [numeric](5, 0) NULL,
	[COURSE_SHORT_NAME] [varchar](50) NULL,
	[COURSE_IMPORTANCE] [numeric](1, 0) NULL,
	[REMARKS] [varchar](150) NULL,
	[COURSE_OLD_CODE] [numeric](9, 0) NULL,
	[COURSE_STATUS] [numeric](1, 0) NULL,
	[WRITTEN_OR_HIDDEN] [numeric](1, 0) NULL,
	[CORRESPONDANCE] [numeric](1, 0) NOT NULL,
	[QUALIFICATION] [numeric](1, 0) NULL,
	[COURSE_SYMBOL] [varchar](20) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_COURSES_DEP_SCREEN]

In [0]:
/****** Object:  Table [dbo].[T_CODE_COURSES_DEP_SCREEN]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_COURSES_DEP_SCREEN](
	[COURSE_CONTROL_NO] [float] NULL,
	[COURSE_NOMENCLATURE] [varchar](200) NULL,
	[MAIN_BRANCH_CODE] [varchar](1) NULL,
	[SUB_BRANCH_CODE] [float] NULL,
	[COURSE_GRP] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_COURSES_OLD]

In [0]:
/****** Object:  Table [dbo].[T_CODE_COURSES_OLD]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_COURSES_OLD](
	[COURSE_MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[COURSE_SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[COURSE_CATEGORY_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_GROUP_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_SUB_GROUP_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_SPLTY_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_SERIAL_NO] [numeric](3, 0) NOT NULL,
	[COURSE_NOMENCLATURE] [varchar](80) NOT NULL,
	[COURSE_CONTROL_NO] [numeric](5, 0) NULL,
	[COURSE_SHORT_NAME] [varchar](50) NULL,
	[COURSE_IMPORTANCE] [numeric](1, 0) NULL,
	[REMARKS] [varchar](150) NULL,
	[COURSE_OLD_CODE] [numeric](9, 0) NULL,
	[COURSE_STATUS] [numeric](1, 0) NULL,
	[WRITTEN_OR_HIDDEN] [numeric](1, 0) NULL,
	[CORRESPONDANCE] [numeric](1, 0) NOT NULL,
	[QUALIFICATION] [numeric](1, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_DEATH_TYPES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_DEATH_TYPES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_DEATH_TYPES](
	[DEATH_TYPE_CODE] [numeric](2, 0) NOT NULL,
	[DEATH_TYPE_DECODE] [varchar](40) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_DISTRICTS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_DISTRICTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_DISTRICTS](
	[DISTRICT_CODE] [numeric](4, 0) NOT NULL,
	[DISTRICT_DECODE] [varchar](25) NULL,
	[TEHSIL_CODE] [numeric](3, 0) NOT NULL,
	[TEHSIL_DECODE] [varchar](25) NULL,
	[AREA_CODE] [numeric](2, 0) NULL,
	[BASE_CODE] [numeric](2, 0) NULL,
	[PROVINCE_CODE] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_DTE]

In [0]:
/****** Object:  Table [dbo].[T_CODE_DTE]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_DTE](
	[DTE_DECODE] [varchar](50) NULL,
	[DTE_CODE] [char](4) NULL,
	[ACAS_CODE] [char](3) NULL,
	[PSO_SYMBOL] [char](1) NULL,
	[DTE_SYMBOL] [varchar](3) NULL,
	[UNIT_CODE] [varchar](4) NULL,
	[SECTION_CODE] [varchar](4) NULL,
	[PSO_APP_CODE] [numeric](10, 0) NULL,
	[ACAS_APP_CODE] [numeric](10, 0) NULL,
	[CONTROLING_APP_CODE] [numeric](5, 0) NULL,
	[CONTROLING_UNIT_CODE] [varchar](4) NULL,
	[CONTROLING_SECTION_CODE] [varchar](4) NULL,
	[DTE_ORDERBY] [numeric](3, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_DUTIES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_DUTIES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_DUTIES](
	[DUTY_TYPE_CODE] [numeric](2, 0) NOT NULL,
	[DUTY_SUBTYPE_CODE] [numeric](2, 0) NOT NULL,
	[DUTY_TYPE_DECODE] [varchar](20) NULL,
	[DUTY_SUBTYPE_DECODE] [varchar](20) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_EQPT_TYPES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_EQPT_TYPES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_EQPT_TYPES](
	[EQPT_TYPE_CODE] [numeric](3, 0) NOT NULL,
	[EQPT_TYPE_DECODE] [varchar](25) NOT NULL,
	[EQPT_SUB_TYPE_CODE] [varchar](4) NOT NULL,
	[EQPT_SUB_TYPE_DECODE] [varchar](25) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_EXTENSION_TYPES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_EXTENSION_TYPES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_EXTENSION_TYPES](
	[EXT_TYPE_CODE] [numeric](2, 0) NOT NULL,
	[EXT_TYPE_DECODE] [varchar](40) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_FLG_INSTRUMENT_RATING]

In [0]:
/****** Object:  Table [dbo].[T_CODE_FLG_INSTRUMENT_RATING]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_FLG_INSTRUMENT_RATING](
	[INSTRUMENT_RATING_CODE] [varchar](10) NOT NULL,
	[INSTRUMENT_RATING_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_FLG_REAR_SEAT_STATUS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_FLG_REAR_SEAT_STATUS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_FLG_REAR_SEAT_STATUS](
	[REAR_SEAT_STATUS_CODE] [float] NOT NULL,
	[REAR_SEAT_STATUS_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_FLYING_OPS_STATUS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_FLYING_OPS_STATUS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_FLYING_OPS_STATUS](
	[OPS_STATUS_CODE] [float] NOT NULL,
	[OPS_STATUS_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_FLYING_STATUS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_FLYING_STATUS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_FLYING_STATUS](
	[FLYING_STATUS_CODE] [float] NOT NULL,
	[FLYING_STATUS_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_GROUP_APPOINTMENTS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_GROUP_APPOINTMENTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_GROUP_APPOINTMENTS](
	[APP_GRP_CODE] [numeric](3, 0) NOT NULL,
	[APP_GRP_DECODE] [varchar](150) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_GROUP_UNITS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_GROUP_UNITS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_GROUP_UNITS](
	[UNIT_GRP_CODE] [numeric](3, 0) NOT NULL,
	[UNIT_GRP_DECODE] [varchar](150) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_HMS_BRANCHES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_HMS_BRANCHES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_HMS_BRANCHES](
	[TYPE] [varchar](1) NULL,
	[MAIN_BRANCH_CODE] [varchar](40) NULL,
	[SUB_BRANCH_CODE] [varchar](40) NULL,
	[MAIN_BRANCH_DECODE] [varchar](30) NULL,
	[SUB_BRANCH_DECODE] [varchar](30) NULL,
	[BRANCH_GROUP_CODE] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_HMS_RANKS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_HMS_RANKS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_HMS_RANKS](
	[TYPE] [float] NULL,
	[RANK_CODE] [varchar](45) NULL,
	[RANK_DECODE] [varchar](255) NULL,
	[RANK_ABBREVIATED] [varchar](10) NULL,
	[RANK_COMPLETE] [varchar](20) NULL,
	[RANK_ORG] [varchar](40) NULL,
	[RANK_GROUP_CODE] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_ISSB]

In [0]:
/****** Object:  Table [dbo].[T_CODE_ISSB]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_ISSB](
	[DOC_CODE] [numeric](3, 0) NOT NULL,
	[DOC_DECODE_SHORT] [varchar](30) NULL,
	[DOC_DECODE_LONG] [varchar](60) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_KEY_APP]

In [0]:
/****** Object:  Table [dbo].[T_CODE_KEY_APP]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_KEY_APP](
	[SNO] [numeric](3, 0) NOT NULL,
	[APP_GRP_CODE] [numeric](3, 0) NULL,
	[APP_CODE] [numeric](5, 0) NULL,
	[UNIT_GRP_CODE] [numeric](3, 0) NULL,
	[UNIT_TYPE_CODE] [numeric](3, 0) NULL,
	[KEY_APP_DECODE] [varchar](50) NULL,
	[COMMAND_APP] [numeric](1, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_LANGUAGES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_LANGUAGES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_LANGUAGES](
	[LANGUAGE_CODE] [numeric](3, 0) NOT NULL,
	[LANGUAGE_DECODE] [varchar](25) NOT NULL,
	[LANG_ORDER] [numeric](3, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_LEAVE_TYPES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_LEAVE_TYPES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_LEAVE_TYPES](
	[LEAVE_TYPE_CODE] [varchar](2) NOT NULL,
	[LEAVE_TYPE_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_MARITAL_STATUSES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_MARITAL_STATUSES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_MARITAL_STATUSES](
	[STATUS_CODE] [numeric](2, 0) NOT NULL,
	[STATUS_DECODE] [varchar](25) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_MEDICAL_CAT_OLD11]

In [0]:
/****** Object:  Table [dbo].[T_CODE_MEDICAL_CAT_OLD11]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_MEDICAL_CAT_OLD11](
	[MED_CAT] [varchar](25) NULL,
	[FITNESS] [varchar](25) NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[MED_CAT_NEW] [varchar](25) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_MEDICAL_CATEGORIES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_MEDICAL_CATEGORIES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_MEDICAL_CATEGORIES](
	[MED_CAT] [varchar](25) NOT NULL,
	[FITNESS] [varchar](25) NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[MED_CAT_OLD] [varchar](100) NULL,
	[MED_CAT_NEW] [varchar](25) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_MEDICAL_CATEGORIES_OLD]

In [0]:
/****** Object:  Table [dbo].[T_CODE_MEDICAL_CATEGORIES_OLD]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_MEDICAL_CATEGORIES_OLD](
	[MED_CAT] [varchar](25) NULL,
	[FITNESS] [varchar](25) NULL,
	[DESCRIPTION] [varchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_MISC]

In [0]:
/****** Object:  Table [dbo].[T_CODE_MISC]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_MISC](
	[DOC_CODE] [numeric](3, 0) NOT NULL,
	[DOC_DECODE_SHORT] [varchar](30) NULL,
	[DOC_DECODE_LONG] [varchar](60) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_OCCUPATIONS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_OCCUPATIONS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_OCCUPATIONS](
	[OCCUPATION_CODE] [numeric](3, 0) NOT NULL,
	[OCCUPATION_DECODE] [varchar](40) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_OERS_APPOINTMENTS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_OERS_APPOINTMENTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_OERS_APPOINTMENTS](
	[APPOINTMENT_CODE] [numeric](4, 0) NULL,
	[APPOINTMENT_DECODE] [varchar](40) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_OFF_POSTING_REASONS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_OFF_POSTING_REASONS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_OFF_POSTING_REASONS](
	[REASON_ID] [float] NULL,
	[REASON_DESCRIPTION] [varchar](50) NULL,
	[REASON_STATUS] [numeric](1, 0) NULL,
	[REASON_STATUS_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_OPS_CAT_AIRCRAFTS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_OPS_CAT_AIRCRAFTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_OPS_CAT_AIRCRAFTS](
	[AC_CODE] [varchar](3) NULL,
	[AC_DECODE] [varchar](15) NULL,
	[DESCRIPTION] [char](25) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_OPS_CATEGORIES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_OPS_CATEGORIES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_OPS_CATEGORIES](
	[CAT_CODE] [numeric](2, 0) NOT NULL,
	[CAT_DECODE] [varchar](15) NULL,
	[DESCRIPTION] [char](25) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_OPS_CATS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_OPS_CATS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_OPS_CATS](
	[MAIN_BRANCH] [varchar](1) NOT NULL,
	[SUB_BRANCH] [numeric](1, 0) NOT NULL,
	[CAT_CODE] [numeric](2, 0) NOT NULL,
	[CAT_DECODE] [varchar](15) NULL,
	[DESCRIPTION] [varchar](30) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_OPS_SUB_CATEGORIES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_OPS_SUB_CATEGORIES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_OPS_SUB_CATEGORIES](
	[CAT_CODE] [numeric](2, 0) NOT NULL,
	[CAT_SUB_CODE] [numeric](2, 0) NOT NULL,
	[CAT_SUB_DECODE] [varchar](25) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_PFILE]

In [0]:
/****** Object:  Table [dbo].[T_CODE_PFILE]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_PFILE](
	[DOC_CODE] [numeric](3, 0) NOT NULL,
	[DOC_DECODE_SHORT] [varchar](30) NULL,
	[DOC_DECODE_LONG] [varchar](60) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_POSTING_TYPES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_POSTING_TYPES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_POSTING_TYPES](
	[POSTING_TYPE_CODE] [numeric](2, 0) NOT NULL,
	[POSTING_TYPE_DECODE] [varchar](25) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_PROVINCES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_PROVINCES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_PROVINCES](
	[PROVINCE_CODE] [numeric](2, 0) NOT NULL,
	[PROVINCE_DECODE] [varchar](25) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_PSOS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_PSOS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_PSOS](
	[PSO_SYMBOL] [char](2) NOT NULL,
	[PSO_DESCRIPTION] [varchar](30) NULL,
	[BRANCH] [varchar](30) NULL,
	[ORDER_FIEDL] [float] NULL,
	[PSO_APP_CODE] [numeric](10, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_PUNISHMENTS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_PUNISHMENTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_PUNISHMENTS](
	[PUNISHMENT_SECTION] [varchar](20) NULL,
	[PUNISHMENT_CODE] [numeric](2, 0) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_QUAL_EQUAL]

In [0]:
/****** Object:  Table [dbo].[T_CODE_QUAL_EQUAL]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_QUAL_EQUAL](
	[QUAL_EQUAL_CODE] [numeric](3, 0) NOT NULL,
	[QUAL_EQUAL_DECODE] [varchar](25) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_QUAL_PAY]

In [0]:
/****** Object:  Table [dbo].[T_CODE_QUAL_PAY]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_QUAL_PAY](
	[QUAL_PAY_CODE] [numeric](1, 0) NOT NULL,
	[QUAL_PAY_DECODE] [varchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_QUALIFICATIONS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_QUALIFICATIONS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_QUALIFICATIONS](
	[MAJOR_QULIFICATION_CODE] [numeric](2, 0) NOT NULL,
	[SUB_QULIFICATION_CODE] [numeric](2, 0) NOT NULL,
	[SUBJECT_SPECIALITY_CODE] [numeric](4, 0) NOT NULL,
	[MAJOR_QULIFICATION_DECODE] [varchar](40) NOT NULL,
	[SUB_QULIFICATION_DECODE] [varchar](40) NOT NULL,
	[SUBJECT_SPECIALITY_DECODE] [varchar](40) NOT NULL,
	[OLD_CODE] [numeric](4, 0) NULL,
	[QUALIFICATION_DECODE] [varchar](120) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_RANK_GROUPS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_RANK_GROUPS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_RANK_GROUPS](
	[CATEGORY_CODE] [numeric](2, 0) NULL,
	[GROUP_CODE] [numeric](2, 0) NOT NULL,
	[GROUP_DECODE] [varchar](30) NULL,
	[GROUP_DECODE_LONG] [varchar](60) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_RANK_TYPES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_RANK_TYPES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_RANK_TYPES](
	[RANK_TYPE_CODE] [varchar](1) NOT NULL,
	[RANK_TYPE_DECODE] [varchar](20) NULL,
	[RANK_TYPE_DECODE_SHORT] [varchar](8) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_RANKS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_RANKS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_RANKS](
	[RANK_CODE] [numeric](2, 0) NOT NULL,
	[RANK_DECODE] [varchar](8) NOT NULL,
	[RANK_ABBREVIATED] [varchar](9) NOT NULL,
	[RANK_COMPLETE] [varchar](20) NOT NULL,
	[ARM] [varchar](4) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_RELATIONSHIPS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_RELATIONSHIPS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_RELATIONSHIPS](
	[RELATIONSHIP_CODE] [numeric](2, 0) NOT NULL,
	[RELATIONSHIP_DECODE] [varchar](20) NOT NULL,
	[RELATIONSHIP_SHORT] [varchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_RELIGIONS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_RELIGIONS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_RELIGIONS](
	[RELIGION_CODE] [numeric](2, 0) NOT NULL,
	[RELIGION_DECODE] [varchar](15) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_RETIREMENT_RULES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_RETIREMENT_RULES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_RETIREMENT_RULES](
	[RET_RULE_CODE] [numeric](2, 0) NOT NULL,
	[RET_RULE_DECODE] [varchar](25) NULL,
	[RET_RULE_DESCRIPTION] [varchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_SECTIONS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_SECTIONS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_SECTIONS](
	[SECTION_CODE] [varchar](4) NOT NULL,
	[SECTION_DECODE] [varchar](100) NOT NULL,
	[SECTION_UNIT_CODE] [varchar](4) NOT NULL,
	[SECTION_STATUS] [numeric](1, 0) NULL,
	[SECTION_DECODE_SHORT] [varchar](50) NULL,
	[REMARKS] [varchar](50) NULL,
	[STATUS_DATE_FROM] [datetime2](7) NOT NULL,
	[STATUS_DATE_TO] [datetime2](7) NULL,
	[UNIT_TYPE] [numeric](3, 0) NULL,
	[EQUIVALENT_SECTION_CODE] [varchar](4) NULL,
	[UNIT_TYPE_NEW] [varchar](4) NULL,
 CONSTRAINT [PK_T_CODE_SECTIONS] PRIMARY KEY CLUSTERED 
(
	[SECTION_CODE] ASC,
	[SECTION_UNIT_CODE] ASC,
	[STATUS_DATE_FROM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[T_CODE_SECTS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_SECTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_SECTS](
	[SECT_CODE] [numeric](2, 0) NOT NULL,
	[SECT_DECODE] [varchar](20) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_SECURITY_CLEAR_PURPOSES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_SECURITY_CLEAR_PURPOSES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_SECURITY_CLEAR_PURPOSES](
	[PURPOSE_CODE] [numeric](2, 0) NOT NULL,
	[PURPOSE_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_SPLT_APPOINTMENTS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_SPLT_APPOINTMENTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_SPLT_APPOINTMENTS](
	[SNO] [numeric](3, 0) NOT NULL,
	[BASE_CODE] [numeric](2, 0) NULL,
	[UNIT_CODE] [varchar](4) NULL,
	[SECTION_CODE] [varchar](4) NULL,
	[APP_CODE] [numeric](5, 0) NULL,
	[APP_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_SPORTS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_SPORTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_SPORTS](
	[SPORT_CODE] [numeric](3, 0) NOT NULL,
	[SPORT_NAME] [varchar](20) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_STATUSES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_STATUSES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_STATUSES](
	[PERM_STATUS_CODE] [numeric](2, 0) NOT NULL,
	[PERM_STATUS_DECODE] [varchar](18) NULL,
	[CURR_STATUS_CODE] [numeric](2, 0) NOT NULL,
	[CURR_STATUS_DECODE] [varchar](18) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_STREAMS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_STREAMS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_STREAMS](
	[MAIN_STREAM_CODE] [numeric](2, 0) NOT NULL,
	[SUB_STREAM_CODE] [numeric](2, 0) NOT NULL,
	[MAIN_BRANCH_CODE] [varchar](1) NULL,
	[MAIN_STREAM_DECODE] [varchar](15) NOT NULL,
	[SUB_STREAM_DECODE] [varchar](20) NOT NULL,
	[SUB_BRANCH_CODE] [numeric](1, 0) NULL,
	[STREAM_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_STREAMS_]

In [0]:
/****** Object:  Table [dbo].[T_CODE_STREAMS_]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_STREAMS_](
	[MAIN_STREAM_CODE] [numeric](2, 0) NULL,
	[SUB_STREAM_CODE] [numeric](2, 0) NULL,
	[MAIN_BRANCH_CODE] [varchar](1) NULL,
	[MAIN_STREAM_DECODE] [varchar](15) NOT NULL,
	[SUB_STREAM_DECODE] [varchar](20) NOT NULL,
	[SUB_BRANCH_CODE] [numeric](1, 0) NULL,
	[STREAM_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_UNIT_TYPES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_UNIT_TYPES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_UNIT_TYPES](
	[UNIT_TYPE_CODE] [numeric](3, 0) NOT NULL,
	[UNIT_TYPE_DECODE] [varchar](30) NOT NULL,
	[UNIT_GRP_CODE] [numeric](3, 0) NULL,
	[UNIT_TYPE_REFERENCE] [varchar](3) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_UNITS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_UNITS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_UNITS](
	[UNIT_CODE_OLD] [varchar](4) NOT NULL,
	[UNIT_STATUS] [numeric](1, 0) NULL,
	[STATUS_DATE] [datetime2](7) NOT NULL,
	[STATUS_DATE_TO] [datetime2](7) NULL,
	[UNIT_CODE_NEW] [numeric](4, 0) NULL,
	[UNIT_DECODE_SHORT] [varchar](50) NOT NULL,
	[UNIT_DECODE_LONG] [varchar](90) NOT NULL,
	[UNIT_COUNTRY_CODE] [numeric](3, 0) NULL,
	[UNIT_ARM] [numeric](2, 0) NULL,
	[UNIT_AREA_CODE] [numeric](2, 0) NULL,
	[UNIT_COMMAND_CODE] [numeric](1, 0) NULL,
	[UNIT_BASE_CODE] [numeric](2, 0) NOT NULL,
	[UNIT_TYPE] [numeric](3, 0) NULL,
	[EQUIPMENT_TYPE] [numeric](4, 0) NULL,
	[REMARKS] [varchar](50) NULL,
	[UNIT_DECODE_MIDDLE] [varchar](60) NULL,
	[LODGER_UNIT] [numeric](1, 0) NULL,
	[WPN_GP] [numeric](2, 0) NULL,
	[UNIT_TYPE_NEW] [numeric](3, 0) NULL,
 CONSTRAINT [PK_T_CODE_UNITS] PRIMARY KEY CLUSTERED 
(
	[UNIT_CODE_OLD] ASC,
	[STATUS_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[T_CODE_UNITS_HISTORY]

In [0]:
/****** Object:  Table [dbo].[T_CODE_UNITS_HISTORY]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_UNITS_HISTORY](
	[UNIT_CODE_OLD] [varchar](4) NOT NULL,
	[UNIT_STATUS] [numeric](1, 0) NULL,
	[STATUS_DATE] [datetime2](7) NOT NULL,
	[STATUS_DATE_TO] [datetime2](7) NULL,
	[UNIT_CODE_NEW] [numeric](4, 0) NULL,
	[UNIT_DECODE_SHORT] [varchar](50) NOT NULL,
	[UNIT_DECODE_LONG] [varchar](90) NOT NULL,
	[UNIT_COUNTRY_CODE] [numeric](3, 0) NULL,
	[UNIT_ARM] [numeric](2, 0) NULL,
	[UNIT_AREA_CODE] [numeric](2, 0) NULL,
	[UNIT_COMMAND_CODE] [numeric](1, 0) NULL,
	[UNIT_BASE_CODE] [numeric](2, 0) NOT NULL,
	[UNIT_TYPE] [numeric](3, 0) NULL,
	[EQUIPMENT_TYPE] [numeric](4, 0) NULL,
	[REMARKS] [varchar](50) NULL,
	[UNIT_DECODE_MIDDLE] [varchar](60) NULL,
	[LODGER_UNIT] [numeric](1, 0) NULL,
	[WPN_GP] [numeric](2, 0) NULL,
	[OP_DATE] [datetime2](7) NULL,
	[OP_TYPE] [varchar](8) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_UNITS_HISTORY_UPD_CASES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_UNITS_HISTORY_UPD_CASES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_UNITS_HISTORY_UPD_CASES](
	[UNIT_CODE_OLD] [varchar](4) NOT NULL,
	[UNIT_STATUS] [numeric](1, 0) NULL,
	[STATUS_DATE] [datetime2](7) NOT NULL,
	[STATUS_DATE_TO] [datetime2](7) NULL,
	[UNIT_CODE_NEW] [numeric](4, 0) NULL,
	[UNIT_DECODE_SHORT] [varchar](50) NOT NULL,
	[UNIT_DECODE_LONG] [varchar](90) NOT NULL,
	[UNIT_COUNTRY_CODE] [numeric](3, 0) NULL,
	[UNIT_ARM] [numeric](2, 0) NULL,
	[UNIT_AREA_CODE] [numeric](2, 0) NULL,
	[UNIT_COMMAND_CODE] [numeric](1, 0) NULL,
	[UNIT_BASE_CODE] [numeric](2, 0) NOT NULL,
	[UNIT_TYPE] [numeric](3, 0) NULL,
	[EQUIPMENT_TYPE] [numeric](4, 0) NULL,
	[REMARKS] [varchar](50) NULL,
	[UNIT_DECODE_MIDDLE] [varchar](60) NULL,
	[LODGER_UNIT] [numeric](1, 0) NULL,
	[WPN_GP] [numeric](2, 0) NULL,
	[OP_DATE] [datetime2](7) NULL,
	[OP_TYPE] [varchar](8) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_UNITS_NEW]

In [0]:
/****** Object:  Table [dbo].[T_CODE_UNITS_NEW]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_UNITS_NEW](
	[UNIT_CODE_OLD] [varchar](4) NOT NULL,
	[UNIT_STATUS] [numeric](1, 0) NOT NULL,
	[STATUS_DATE] [datetime2](7) NOT NULL,
	[STATUS_DATE_TO] [datetime2](7) NULL,
	[UNIT_CODE_NEW] [numeric](4, 0) NULL,
	[UNIT_DECODE_SHORT] [varchar](50) NOT NULL,
	[UNIT_DECODE_LONG] [varchar](90) NOT NULL,
	[UNIT_COUNTRY_CODE] [numeric](3, 0) NULL,
	[UNIT_ARM] [numeric](2, 0) NULL,
	[UNIT_AREA_CODE] [numeric](2, 0) NULL,
	[UNIT_COMMAND_CODE] [numeric](1, 0) NULL,
	[UNIT_BASE_CODE] [numeric](2, 0) NOT NULL,
	[UNIT_TYPE] [numeric](3, 0) NULL,
	[EQUIPMENT_TYPE] [numeric](4, 0) NULL,
	[REMARKS] [varchar](50) NULL,
	[UNIT_DECODE_MIDDLE] [varchar](60) NULL,
	[LODGER_UNIT] [numeric](1, 0) NULL,
	[WPN_GP] [numeric](2, 0) NULL,
	[UNIT_TYPE_NEW] [numeric](3, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_VAC_STATUSES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_VAC_STATUSES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_VAC_STATUSES](
	[VAC_STATUS_CODE] [numeric](2, 0) NOT NULL,
	[VAC_STATUS_DECODE] [varchar](20) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_VAC_TYPES]

In [0]:
/****** Object:  Table [dbo].[T_CODE_VAC_TYPES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_VAC_TYPES](
	[VAC_TYPE_CODE] [numeric](2, 0) NOT NULL,
	[VAC_TYPE_DECODE] [varchar](20) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_WEAPON_SYSTEMS]

In [0]:
/****** Object:  Table [dbo].[T_CODE_WEAPON_SYSTEMS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_WEAPON_SYSTEMS](
	[AC_CODE] [numeric](3, 0) NOT NULL,
	[UNIT_CODE] [varchar](4) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_CODE_WPN_GP]

In [0]:
/****** Object:  Table [dbo].[T_CODE_WPN_GP]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CODE_WPN_GP](
	[WPN_CODE] [numeric](3, 0) NOT NULL,
	[WPN_DCODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_COMM_TYPE_HISTORY]

In [0]:
/****** Object:  Table [dbo].[T_COMM_TYPE_HISTORY]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_COMM_TYPE_HISTORY](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[COMM_TYPE_CODE] [numeric](2, 0) NOT NULL,
	[FROM_DATE] [datetime2](7) NOT NULL,
	[REMARKS] [varchar](100) NULL,
	[AUTHORITY] [varchar](25) NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL,
	[TO_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_COMMAND_CLEARANCE_NOMINEES]

In [0]:
/****** Object:  Table [dbo].[T_COMMAND_CLEARANCE_NOMINEES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_COMMAND_CLEARANCE_NOMINEES](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[COMMAND_TYPE_CODE] [numeric](2, 0) NOT NULL,
	[COMMAND_YEAR] [numeric](4, 0) NOT NULL,
	[STATUS] [numeric](1, 0) NULL,
	[DECISION] [numeric](2, 0) NULL,
	[REMARKS] [varchar](50) NULL,
	[DK_COMMAND] [varchar](100) NULL,
	[PAGE_COUNT] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_COURSE_INTERIM_RESULT]

In [0]:
/****** Object:  Table [dbo].[T_COURSE_INTERIM_RESULT]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_COURSE_INTERIM_RESULT](
	[PAKNO] [float] NULL,
	[COURSE_CONTROL_NO] [float] NULL,
	[PERFORMANCE] [varchar](20) NULL,
	[COURSE_NAME] [varchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[T_COURSES]

In [0]:
/****** Object:  Table [dbo].[T_COURSES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_COURSES](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[COURSE_START_DATE] [datetime2](7) NOT NULL,
	[COURSE_END_DATE] [datetime2](7) NOT NULL,
	[COURSE_MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[COURSE_SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[COURES_CATEGORY_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_GROUP_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_SUB_GROUP_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_SPLTY_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_SERIAL_NO] [numeric](3, 0) NOT NULL,
	[PASS_OR_FAIL] [float] NULL,
	[GRADE] [varchar](2) NULL,
	[GPA] [numeric](3, 2) NULL,
	[INSTRUCTOR] [varchar](30) NULL,
	[PURPOSE] [varchar](30) NULL,
	[UNIT_OR_PLACE] [varchar](50) NULL,
	[COUNTRY_CODE] [numeric](3, 0) NULL,
	[AUTHORITY] [varchar](40) NOT NULL,
	[AUTHORITY_DATE] [datetime2](7) NOT NULL,
	[REMARKS] [varchar](100) NULL,
	[PERCENT] [varchar](10) NULL,
	[UNIT_CODE] [varchar](4) NULL,
	[INSTITUTION_NAME] [varchar](50) NULL,
	[COURSE_NO] [numeric](4, 0) NULL,
	[ORDER_OF_MERIT] [numeric](4, 0) NULL,
	[TOT_PARTICIPANTS] [numeric](4, 0) NULL,
	[RECOMMENDATION] [varchar](150) NULL,
	[GRADE_5] [varchar](15) NULL,
	[SECTION_CODE] [varchar](4) NULL,
	[DK_COURSES] [varchar](100) NULL,
	[PAGE_COUNT] [numeric](2, 0) NULL,
	[SPONSORED_BY] [numeric](1, 0) NULL,
	[COURSE_SESSION] [numeric](1, 0) NULL,
	[RECOMMENDED_FOR] [float] NULL,
	[AFO_NO] [varchar](6) NULL,
	[IS_ONLINE] [float] NULL,
	[IS_B6_I] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_COURT_MARTIALS]

In [0]:
/****** Object:  Table [dbo].[T_COURT_MARTIALS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_COURT_MARTIALS](
	[PAK_NO] [numeric](5, 0) NOT NULL,
	[DATE_FROM] [datetime2](7) NOT NULL,
	[DATE_TO] [datetime2](7) NOT NULL,
	[RANK_HELD] [varchar](3) NULL,
	[CTM_TYPE] [varchar](4) NULL,
	[REASON] [varchar](100) NULL,
	[UNIT_AT_CODE] [numeric](4, 0) NULL,
	[BASE_CODE] [numeric](2, 0) NULL,
	[AREA_CODE] [numeric](2, 0) NULL,
	[COMMAND_CODE] [varchar](1) NULL,
	[PUNISH_MENT] [varchar](100) NULL,
	[PUNISHMENT_TYPE] [numeric](2, 0) NULL,
	[LOSS_EFFECTIVE_FROM] [datetime2](7) NULL,
	[NATURE_OF_LOSS] [numeric](1, 0) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_CURR_COURSES]

In [0]:
/****** Object:  Table [dbo].[T_CURR_COURSES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CURR_COURSES](
	[COURSE_MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[COURSE_SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[COURSE_CATEGORY_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_GROUP_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_SUB_GROUP_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_SPLTY_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_SERIAL_NO] [numeric](3, 0) NOT NULL,
	[COURSE_START_DATE] [datetime2](7) NOT NULL,
	[COURSE_END_DATE] [datetime2](7) NOT NULL,
	[AUTHORITY] [varchar](40) NOT NULL,
	[AUTHORITY_DATE] [datetime2](7) NOT NULL,
	[COUNTRY_CODE] [numeric](3, 0) NULL,
	[ARM] [varchar](4) NULL,
	[UNIT_CODE] [varchar](6) NULL,
	[INSTITUTION_NAME] [varchar](50) NULL,
	[INSTRUCTOR] [varchar](30) NULL,
	[REMARKS_ON_COURSE] [varchar](50) NULL,
	[COURSE_NO] [numeric](4, 0) NULL,
	[PURPOSE] [varchar](30) NULL,
	[COURSE_OLD_CODE] [numeric](9, 0) NULL,
	[SECTION_CODE] [varchar](4) NULL,
	[SPONSORED_BY] [numeric](1, 0) NULL,
	[COURSE_SESSION] [numeric](1, 0) NULL,
	[AFO_NO] [varchar](6) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DATAPURIFICATION_TRACK]

In [0]:
/****** Object:  Table [dbo].[T_DATAPURIFICATION_TRACK]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DATAPURIFICATION_TRACK](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[UPDATED_TABLE_NAME] [varchar](20) NOT NULL,
	[UPDATED_FLAG] [numeric](1, 0) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[PK_CONTENTS] [varchar](200) NOT NULL,
	[CORRECTION_DONE_BY] [varchar](20) NULL,
	[CORRECTIONS_DONE_ON] [datetime2](7) NULL,
	[DML_OPS] [varchar](1) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DEATH_REPORTS]

In [0]:
/****** Object:  Table [dbo].[T_DEATH_REPORTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DEATH_REPORTS](
	[PAK_NO] [numeric](5, 0) NOT NULL,
	[TYPE_OF_DEATH] [numeric](2, 0) NOT NULL,
	[REASON_OF_DEATH] [varchar](100) NOT NULL,
	[DATE_OF_DEATH] [datetime2](7) NOT NULL,
	[POR_NUMBER] [varchar](10) NULL,
	[POR_DATE] [datetime2](7) NULL,
	[ATTRIBUTED_TOWARDS_SERVICE] [varchar](1) NULL,
	[COMMAND_CODE] [varchar](1) NULL,
	[AREA_CODE] [numeric](2, 0) NULL,
	[BASE_CODE] [numeric](2, 0) NULL,
	[UNIT_CODE] [varchar](4) NULL,
	[ACCOMODATION] [numeric](1, 0) NULL,
	[JOB] [numeric](1, 0) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DEPLOYMENTS]

In [0]:
/****** Object:  Table [dbo].[T_DEPLOYMENTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DEPLOYMENTS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[POSTING_DATE] [datetime2](7) NOT NULL,
	[POSTING_TO_DATE] [datetime2](7) NULL,
	[APPOINTMENT] [varchar](40) NULL,
	[APPOINTMENT_DATE] [datetime2](7) NOT NULL,
	[VACANCY_DEP_MAIN_BRANCH_CODE] [varchar](1) NULL,
	[VACANCY_DEP_SUB_BRANCH_CODE] [numeric](1, 0) NULL,
	[VACANCY_DEP_RANK_CODE] [numeric](2, 0) NULL,
	[VACANCY_DEP_BASE_CODE] [numeric](2, 0) NULL,
	[VACANCY_DEP_UNIT_CODE] [varchar](4) NULL,
	[VACANCY_DEP_SEC_CODE] [varchar](4) NULL,
	[VACANCY_DEP_SERIAL_NO] [numeric](2, 0) NULL,
	[KEY_APPOINTMENT_DEP_CODE] [numeric](3, 0) NULL,
	[COMMAND_DEP_CODE] [varchar](1) NULL,
	[AREA_DEP_CODE] [numeric](2, 0) NULL,
	[BASE_DEP_CODE] [numeric](2, 0) NULL,
	[UNIT_DEP_CODE] [varchar](4) NULL,
	[SECTION_DEP_CODE] [varchar](4) NULL,
	[DEP_AUTHORITY] [varchar](25) NULL,
	[DEP_AUTHORITY_DATE] [datetime2](7) NULL,
	[OLD_CONTROL_CODE_DEP] [numeric](7, 0) NULL,
	[VACANCY_OCCUPIED] [numeric](1, 0) NULL,
	[MARK_FOR_DELETION] [numeric](1, 0) NULL,
	[SNO] [numeric](2, 0) NULL,
	[APPOINTMENT_CODE] [numeric](5, 0) NULL,
	[DEP_RANK_CODE] [numeric](2, 0) NULL,
	[APPT_GRP_EXP_CODE] [float] NULL,
	[KPA_RECEIVED_STATUS] [float] NULL,
 CONSTRAINT [PK_T_DEPLOYMENTS] PRIMARY KEY CLUSTERED 
(
	[PAKNO] ASC,
	[POSTING_DATE] ASC,
	[APPOINTMENT_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[T_DH_AWARDS]

In [0]:
/****** Object:  Table [dbo].[T_DH_AWARDS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DH_AWARDS](
	[USER_ID] [varchar](8) NULL,
	[REC_DATE] [datetime2](7) NULL,
	[IP_ADDRESS] [varchar](15) NULL,
	[DATA_HEAD_CODE] [numeric](2, 0) NULL,
	[PAKNO] [numeric](5, 0) NULL,
	[AWD_TYPE_CODE] [numeric](1, 0) NULL,
	[AWD_SUBTYPE_CODE] [numeric](4, 0) NULL,
	[AWD_DATE] [datetime2](7) NULL,
	[SAVE_ACTION] [numeric](1, 0) NULL,
	[REMOTE_PATH] [varchar](100) NOT NULL,
	[PAGE_COUNT] [numeric](2, 0) NULL,
	[AWD_STARS] [numeric](1, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DH_BOARD_RESULTS]

In [0]:
/****** Object:  Table [dbo].[T_DH_BOARD_RESULTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DH_BOARD_RESULTS](
	[USER_ID] [varchar](8) NULL,
	[REC_DATE] [datetime2](7) NULL,
	[IP_ADDRESS] [varchar](15) NULL,
	[DATA_HEAD_CODE] [numeric](2, 0) NULL,
	[PAKNO] [numeric](5, 0) NULL,
	[BOARD_TYPE_CODE] [numeric](1, 0) NULL,
	[BOARD_DECISIONDE] [varchar](15) NULL,
	[BOARD_DATE] [datetime2](7) NULL,
	[SAVE_ACTION] [numeric](1, 0) NULL,
	[REMOTE_PATH] [varchar](100) NOT NULL,
	[PAGE_COUNT] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DH_COMMAND_CLR]

In [0]:
/****** Object:  Table [dbo].[T_DH_COMMAND_CLR]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DH_COMMAND_CLR](
	[USER_ID] [varchar](8) NULL,
	[REC_DATE] [datetime2](7) NULL,
	[IP_ADDRESS] [varchar](15) NULL,
	[DATA_HEAD_CODE] [numeric](2, 0) NULL,
	[PAKNO] [numeric](5, 0) NULL,
	[COMMAND_TYPE_CODE] [numeric](2, 0) NULL,
	[COMMAND_DECISIONDE] [numeric](4, 0) NULL,
	[COMMAND_DATE] [datetime2](7) NULL,
	[SAVE_ACTION] [numeric](1, 0) NULL,
	[REMOTE_PATH] [varchar](100) NOT NULL,
	[PAGE_COUNT] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DH_COURSES]

In [0]:
/****** Object:  Table [dbo].[T_DH_COURSES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DH_COURSES](
	[USER_ID] [varchar](8) NULL,
	[REC_DATE] [datetime2](7) NULL,
	[IP_ADDRESS] [varchar](15) NULL,
	[DATA_HEAD_CODE] [numeric](2, 0) NULL,
	[PAKNO] [numeric](5, 0) NULL,
	[COURSE_CODE] [numeric](5, 0) NULL,
	[COURSE_ST_DATE] [datetime2](7) NULL,
	[COURSE_END_DATE] [datetime2](7) NULL,
	[SAVE_ACTION] [numeric](1, 0) NULL,
	[REMOTE_PATH] [varchar](100) NOT NULL,
	[PAGE_COUNT] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DH_ISSB]

In [0]:
/****** Object:  Table [dbo].[T_DH_ISSB]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DH_ISSB](
	[USER_ID] [varchar](8) NULL,
	[REC_DATE] [datetime2](7) NULL,
	[IP_ADDRESS] [varchar](15) NULL,
	[DATA_HEAD_CODE] [numeric](2, 0) NULL,
	[PAKNO] [numeric](5, 0) NULL,
	[ISSB_DOC_CODE] [numeric](2, 0) NULL,
	[SAVE_ACTION] [numeric](1, 0) NULL,
	[REMOTE_PATH] [varchar](100) NOT NULL,
	[PAGE_COUNT] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DH_MISC]

In [0]:
/****** Object:  Table [dbo].[T_DH_MISC]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DH_MISC](
	[USER_ID] [varchar](8) NULL,
	[REC_DATE] [datetime2](7) NULL,
	[IP_ADDRESS] [varchar](15) NULL,
	[DATA_HEAD_CODE] [numeric](2, 0) NULL,
	[PAKNO] [numeric](5, 0) NULL,
	[MISC_DOC_CODE] [numeric](3, 0) NULL,
	[MISC_DOC_DATE] [datetime2](7) NULL,
	[SAVE_ACTION] [numeric](1, 0) NULL,
	[REMOTE_PATH] [varchar](100) NOT NULL,
	[PAGE_COUNT] [numeric](2, 0) NULL,
	[SHOW_IN_PB] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_DH_PFILE]

In [0]:
/****** Object:  Table [dbo].[T_DH_PFILE]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DH_PFILE](
	[USER_ID] [varchar](8) NULL,
	[REC_DATE] [datetime2](7) NULL,
	[IP_ADDRESS] [varchar](15) NULL,
	[DATA_HEAD_CODE] [numeric](2, 0) NULL,
	[PAKNO] [numeric](5, 0) NULL,
	[PFILE_DOC_CODE] [numeric](3, 0) NULL,
	[PFILE_DOC_DATE] [datetime2](7) NULL,
	[SAVE_ACTION] [numeric](1, 0) NULL,
	[REMOTE_PATH] [varchar](100) NOT NULL,
	[PAGE_COUNT] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DH_PUNISHMENTS]

In [0]:
/****** Object:  Table [dbo].[T_DH_PUNISHMENTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DH_PUNISHMENTS](
	[USER_ID] [varchar](8) NULL,
	[REC_DATE] [datetime2](7) NULL,
	[IP_ADDRESS] [varchar](15) NULL,
	[DATA_HEAD_CODE] [numeric](2, 0) NULL,
	[PAKNO] [numeric](5, 0) NULL,
	[PUNISHMENT_CODE] [numeric](2, 0) NULL,
	[PUNISHMENT_DATE] [datetime2](7) NULL,
	[SAVE_ACTION] [numeric](1, 0) NULL,
	[REMOTE_PATH] [varchar](100) NOT NULL,
	[PAGE_COUNT] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DISCIPLINE_CADETSHIPS]

In [0]:
/****** Object:  Table [dbo].[T_DISCIPLINE_CADETSHIPS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DISCIPLINE_CADETSHIPS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[PUNISHMENT] [varchar](15) NULL,
	[REMARKS] [varchar](200) NULL,
	[SNO] [numeric](2, 0) NOT NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL,
	[AWARD] [numeric](2, 0) NULL,
	[APPOINTMENT] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DUMMY_BUILT]

In [0]:
/****** Object:  Table [dbo].[T_DUMMY_BUILT]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DUMMY_BUILT](
	[BUILT] [varchar](10) NULL,
	[BUILT_NEW] [varchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DUMMY_COURSE_UNITS]

In [0]:
/****** Object:  Table [dbo].[T_DUMMY_COURSE_UNITS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DUMMY_COURSE_UNITS](
	[COURSE_BRANCH] [varchar](1) NOT NULL,
	[COURSE_NAME] [varchar](80) NULL,
	[UNIT_OR_PLACE] [varchar](50) NULL,
	[INSTITUTION_NAME] [varchar](50) NULL,
	[ARM] [varchar](4) NULL,
	[UNIT_CODE] [varchar](4) NULL,
	[SECTION_CODE] [varchar](4) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DUMMY_EYES]

In [0]:
/****** Object:  Table [dbo].[T_DUMMY_EYES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DUMMY_EYES](
	[EYES_COLOR] [varchar](10) NULL,
	[EYE_COLOR] [numeric](2, 0) NULL,
	[EYE_COLOR_NAME] [varchar](20) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DUMMY_HAIRS]

In [0]:
/****** Object:  Table [dbo].[T_DUMMY_HAIRS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DUMMY_HAIRS](
	[HAIR_COLOR] [varchar](10) NULL,
	[HAIR_COLOR_NAME] [varchar](15) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DUMMY_QUALIFICATIONS]

In [0]:
/****** Object:  Table [dbo].[T_DUMMY_QUALIFICATIONS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DUMMY_QUALIFICATIONS](
	[MAJOR_QULIFICATION_CODE] [numeric](2, 0) NOT NULL,
	[SUB_QULIFICATION_CODE] [numeric](2, 0) NOT NULL,
	[SUBJECT_SPECIALITY_CODE] [numeric](3, 0) NOT NULL,
	[MAJOR_QULIFICATION_DECODE] [varchar](40) NOT NULL,
	[SUB_QULIFICATION_DECODE] [varchar](40) NOT NULL,
	[SUBJECT_SPECIALITY_DECODE] [varchar](40) NOT NULL,
	[OLD_CODE] [numeric](4, 0) NULL,
	[QUALIFICATION_DECODE] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_DUTIES]

In [0]:
/****** Object:  Table [dbo].[T_DUTIES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DUTIES](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[DUTY_TYPE_CODE] [numeric](2, 0) NOT NULL,
	[DUTY_SUBTYPE_CODE] [numeric](2, 0) NOT NULL,
	[COUNTRY_CODE] [numeric](3, 0) NOT NULL,
	[FROM_PLACE] [varchar](50) NULL,
	[FROM_DATE] [datetime2](7) NOT NULL,
	[FROM_COMMAND_CODE] [varchar](1) NULL,
	[FROM_AREA_CODE] [numeric](2, 0) NULL,
	[FROM_BASE_CODE] [numeric](2, 0) NULL,
	[FROM_UNIT_CODE] [varchar](4) NULL,
	[TO_DATE] [datetime2](7) NULL,
	[TO_PLACE] [varchar](50) NULL,
	[AUTHORITY] [varchar](25) NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL,
	[PURPOSE] [varchar](150) NULL,
	[DURATION_IN_DAYS] [numeric](4, 0) NULL,
	[REMARKS] [varchar](150) NULL,
	[SPONSORED_BY] [numeric](2, 0) NULL,
	[TRAVELED_BY] [numeric](2, 0) NULL,
	[EARMARKING_DATE] [datetime2](7) NULL,
	[MASTER_UPDATE] [numeric](1, 0) NULL,
	[TO_UNIT_CODE] [varchar](4) NULL,
	[CONFIRMED] [numeric](1, 0) NOT NULL,
	[TO_BASE_CODE] [numeric](2, 0) NULL,
	[FROM_SECTION_CODE] [varchar](4) NULL,
	[TO_SECTION_CODE] [varchar](4) NULL,
	[PAK_RS] [numeric](15, 2) NULL,
	[FOREIGN_EXCH] [numeric](15, 2) NULL,
	[DATE_MATERIALIZED] [datetime2](7) NULL,
	[DUTY_RANK_CODE] [numeric](2, 0) NULL,
	[OPI] [varchar](80) NULL,
	[STATE_GUEST] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_E_ARRIVAL_DATA]

In [0]:
/****** Object:  Table [dbo].[T_E_ARRIVAL_DATA]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_E_ARRIVAL_DATA](
	[PAKNO] [float] NULL,
	[MAIN_BRANCH_CODE] [varchar](2) NULL,
	[REPORTING_DATE] [datetime2](7) NULL,
	[E_ARRIVAL_DATE] [datetime2](7) NULL,
	[DATA_ENTRY_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_EARMARK_HISTORY]

In [0]:
/****** Object:  Table [dbo].[T_EARMARK_HISTORY]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_EARMARK_HISTORY](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[TYPE] [numeric](2, 0) NOT NULL,
	[EARMARK_DATE] [datetime2](7) NOT NULL,
	[AUTHORITY] [varchar](25) NULL,
	[COUNTRY_CODE] [numeric](3, 0) NULL,
	[PLACE] [varchar](50) NULL,
	[REMARKS1] [varchar](150) NULL,
	[REMARKS2] [varchar](100) NULL,
	[MED_EXPECTED_DATE] [datetime2](7) NULL,
	[MED_COMPLETION_DATE] [datetime2](7) NULL,
	[PASSPORT_EXPECTED_DATE] [datetime2](7) NULL,
	[PASSPORT_COMPLETION_DATE] [datetime2](7) NULL,
	[SECURITY_CLEARENCE_DATE] [datetime2](7) NULL,
	[SECURITY_COMPLETION_DATE] [datetime2](7) NULL,
	[BREIFING_EXPECTED_DATE] [datetime2](7) NULL,
	[BREIFING_COMPLETION_DATE] [datetime2](7) NULL,
	[GOVT_LETTER_EXPECTED_DATE] [datetime2](7) NULL,
	[GOVT_LETTER_ISSUED_DATE] [datetime2](7) NULL,
	[PDC_ATTACHMENT_EXPECTED_DATE] [datetime2](7) NULL,
	[PDC_ATTACHMENT_ACTUAL_DATE] [datetime2](7) NULL,
	[VISA_EXPECTED_DATE] [datetime2](7) NULL,
	[VISA_ACTUAL_DATE] [datetime2](7) NULL,
	[DEPARTURE_EXPECTED_DATE] [datetime2](7) NULL,
	[DEPARTURE_ACTUAL_DATE] [datetime2](7) NULL,
	[PROCESS_COMPLETION_DATE] [datetime2](7) NULL,
	[PROCESS_COMPLETION_EXP] [datetime2](7) NULL,
	[DUTY_SUBTYPE] [numeric](2, 0) NULL,
	[CANCELLATION_DATE] [datetime2](7) NULL,
	[CANCELLATION_AUTH] [varchar](25) NULL,
	[FAMILY_PERMITTED] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_EST_STRENGTH_TYPE_WISE]

In [0]:
/****** Object:  Table [dbo].[T_EST_STRENGTH_TYPE_WISE]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_EST_STRENGTH_TYPE_WISE](
	[BASE] [numeric](2, 0) NOT NULL,
	[UNIT] [varchar](4) NOT NULL,
	[SECTION] [varchar](4) NOT NULL,
	[BRANCH] [varchar](1) NOT NULL,
	[SUB_BRANCH] [numeric](1, 0) NOT NULL,
	[RANK] [numeric](2, 0) NOT NULL,
	[TYPE] [numeric](2, 0) NOT NULL,
	[ACTIVE] [numeric](4, 0) NULL,
	[ADHOC] [numeric](4, 0) NULL,
	[POOL] [numeric](4, 0) NULL,
	[TEMP] [numeric](4, 0) NULL,
	[ROTATIONAL] [numeric](4, 0) NULL,
	[INACTIVE] [numeric](4, 0) NULL,
	[DELETED] [numeric](4, 0) NULL,
	[TENABLE] [numeric](4, 0) NULL,
	[VACANT] [numeric](4, 0) NULL,
	[FILLED_OR_VACANT] [numeric](1, 0) NULL,
	[TENABLE_STR] [numeric](4, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_EXTENSION_BOARDS_DECISIONS]

In [0]:
/****** Object:  Table [dbo].[T_EXTENSION_BOARDS_DECISIONS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_EXTENSION_BOARDS_DECISIONS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[DEC_CODE] [numeric](2, 0) NULL,
	[DEC_DATE] [datetime2](7) NULL,
	[REMARKS] [varchar](25) NULL
) ON [PRIMARY]
GO

# [dbo].[T_EXTENSIONS]

In [0]:
/****** Object:  Table [dbo].[T_EXTENSIONS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_EXTENSIONS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[DATE_EXT_FROM] [datetime2](7) NOT NULL,
	[PREV_RETIREMENT_DATE] [datetime2](7) NOT NULL,
	[DATE_EXT_TO] [datetime2](7) NOT NULL,
	[RANK_CODE_AT_EXT] [numeric](2, 0) NULL,
	[GAZETTE_NO] [varchar](25) NULL,
	[GAZETTE_DATE] [datetime2](7) NULL,
	[NATURE_OF_EXT] [numeric](2, 0) NULL,
	[MASTER_UPDATE] [numeric](1, 0) NULL,
	[REMARKS] [varchar](200) NULL
) ON [PRIMARY]
GO

# [dbo].[T_FLYING_HOURS]

In [0]:
/****** Object:  Table [dbo].[T_FLYING_HOURS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_FLYING_HOURS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[DATE_FROM] [datetime2](7) NULL,
	[DATE_TO] [datetime2](7) NULL,
	[AC_CODE] [numeric](3, 0) NULL,
	[AC_TYPE] [varchar](5) NULL,
	[DUAL] [numeric](6, 2) NULL,
	[SOLO] [numeric](6, 2) NULL,
	[CAPTAIN] [numeric](6, 2) NULL,
	[FIRST_PILOT] [numeric](6, 2) NULL,
	[TOTAL] [numeric](9, 2) NULL,
	[HOURS] [numeric](5, 0) NOT NULL,
	[MINUTES] [numeric](2, 0) NULL,
	[AIRCRAFT] [varchar](20) NULL,
	[INSTRUCTIONAL] [numeric](9, 2) NULL,
	[DUAL_NIGHT] [numeric](6, 2) NULL,
	[SOLO_NIGHT] [numeric](6, 2) NULL,
	[CAPTAIN_NIGHT] [numeric](6, 2) NULL,
	[FIRST_PILOT_NIGHT] [numeric](6, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[T_FLYING_HOURS_03012024]

In [0]:
/****** Object:  Table [dbo].[T_FLYING_HOURS_03012024]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_FLYING_HOURS_03012024](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[DATE_FROM] [datetime2](7) NULL,
	[DATE_TO] [datetime2](7) NULL,
	[AC_CODE] [numeric](3, 0) NULL,
	[AC_TYPE] [varchar](4) NULL,
	[DUAL] [numeric](6, 2) NULL,
	[SOLO] [numeric](6, 2) NULL,
	[CAPTAIN] [numeric](6, 2) NULL,
	[FIRST_PILOT] [numeric](6, 2) NULL,
	[TOTAL] [numeric](9, 2) NULL,
	[HOURS] [numeric](5, 0) NOT NULL,
	[MINUTES] [numeric](2, 0) NULL,
	[AIRCRAFT] [varchar](20) NULL,
	[INSTRUCTIONAL] [numeric](9, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[T_FLYING_HOURS_OLD]

In [0]:
/****** Object:  Table [dbo].[T_FLYING_HOURS_OLD]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_FLYING_HOURS_OLD](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[DATE_FROM] [datetime2](7) NOT NULL,
	[DATE_TO] [datetime2](7) NULL,
	[AC_CODE] [numeric](3, 0) NOT NULL,
	[AC_TYPE] [varchar](4) NOT NULL,
	[DUAL] [numeric](6, 2) NULL,
	[SOLO] [numeric](6, 2) NULL,
	[CAPTAIN] [numeric](6, 2) NULL,
	[FIRST_PILOT] [numeric](6, 2) NULL,
	[TOTAL] [numeric](9, 2) NULL,
	[HOURS] [numeric](5, 0) NOT NULL,
	[MINUTES] [numeric](2, 0) NULL,
	[AIRCRAFT] [varchar](20) NULL
) ON [PRIMARY]
GO

# [dbo].[T_FOB_KEY_STAFF]

In [0]:
/****** Object:  Table [dbo].[T_FOB_KEY_STAFF]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_FOB_KEY_STAFF](
	[FOB_VACANCY_CODE] [numeric](2, 0) NOT NULL,
	[FOB_VACANCY_DECODE] [varchar](30) NULL,
	[VACANCY_BRANCH_CODE] [varchar](2) NOT NULL,
	[VACANCY_BRANCH_DECODE] [varchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[T_FORWARD_OPERATING_BASES]

In [0]:
/****** Object:  Table [dbo].[T_FORWARD_OPERATING_BASES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_FORWARD_OPERATING_BASES](
	[FOB_NAME_CODE] [numeric](2, 0) NOT NULL,
	[FOB_READINESS_FLT] [varchar](4) NULL,
	[FOB_COMMAND_CODE] [varchar](1) NULL,
	[FOB_PARENT_BASE] [numeric](2, 0) NULL,
	[FOB_PARENT_BASE_STATUS] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_GENERAL_REMARKS]

In [0]:
/****** Object:  Table [dbo].[T_GENERAL_REMARKS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GENERAL_REMARKS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[REMARKS_DATE] [datetime2](7) NOT NULL,
	[REMARKS] [varchar](2500) NOT NULL,
	[REMARKS_GIVEN_BY] [varchar](50) NOT NULL,
	[REMARKS_WRITTEN_BY] [varchar](50) NOT NULL,
	[ACTION_DATE] [datetime2](7) NULL,
	[HIDE] [char](1) NULL,
	[EFFECTIVE_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_GROUP_LOCAL_REMARKS]

In [0]:
/****** Object:  Table [dbo].[T_GROUP_LOCAL_REMARKS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GROUP_LOCAL_REMARKS](
	[PAKNO] [float] NULL,
	[MAIN_BRANCH_CODE] [varchar](3) NULL,
	[SUB_BRANCH_CODE] [float] NULL,
	[REMARKS] [varchar](4000) NULL,
	[USER_ID] [varchar](10) NULL,
	[REMARKS_UPDATED_ON] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_GURANTEERS]

In [0]:
/****** Object:  Table [dbo].[T_GURANTEERS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GURANTEERS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[GURANTEER_NO] [numeric](1, 0) NOT NULL,
	[NAME] [varchar](45) NULL,
	[RANK_OR_DESIGNATION] [varchar](25) NULL,
	[APPOINTMENT] [varchar](25) NULL,
	[ADDRESS] [varchar](50) NULL,
	[REMARKS] [varchar](25) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_HOROSCOPE]

In [0]:
/****** Object:  Table [dbo].[T_HOROSCOPE]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_HOROSCOPE](
	[HOROSCOPE_CODE] [numeric](2, 0) NOT NULL,
	[HOROSCOPE_DECODE] [varchar](25) NULL,
	[FROM_DAY] [numeric](2, 0) NULL,
	[FROM_MONTH] [numeric](2, 0) NULL,
	[TO_DAY] [numeric](2, 0) NULL,
	[TO_MONTH] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_INDEX_FOR_ACCOMMODATION]

In [0]:
/****** Object:  Table [dbo].[T_INDEX_FOR_ACCOMMODATION]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_INDEX_FOR_ACCOMMODATION](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[DATE_JOINING_PAF] [datetime2](7) NULL,
	[RANK_SERVICE_DATE_FROM] [datetime2](7) NULL,
	[RANK_SERVICE_DATE_TO] [datetime2](7) NULL,
	[SERV_PTS] [numeric](6, 2) NULL,
	[MNTS_COMM_SVC_PTS] [numeric](6, 2) NULL,
	[ANTE_DATE_PTS] [numeric](6, 2) NULL,
	[CADET_PTS] [numeric](6, 2) NULL,
	[MNTS_CADET_SVC_PTS] [numeric](6, 2) NULL,
	[RNK_SERV_PTS] [numeric](6, 2) NULL,
	[MNTS_RNK_SVC_PTS] [numeric](6, 2) NULL,
	[FIRST_CHILD_PTS] [numeric](6, 2) NULL,
	[OTHER_CHILD_PTS] [numeric](6, 2) NULL,
	[MNTS_WAITING_LIST_PTS] [numeric](6, 2) NULL,
	[PREV_WAITING_LIST_PTS] [numeric](6, 2) NULL,
	[NON_FAMILY_STATION_PTS] [numeric](6, 2) NULL,
	[TOT_PTS] [numeric](6, 2) NULL,
	[DATUM_DATE] [datetime2](7) NULL,
	[PF] [varchar](2) NULL
) ON [PRIMARY]
GO

# [dbo].[T_INDEX_FOR_WELFARE]

In [0]:
/****** Object:  Table [dbo].[T_INDEX_FOR_WELFARE]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_INDEX_FOR_WELFARE](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[RETIREMENT_DATE] [datetime2](7) NULL,
	[DATE_SOS] [datetime2](7) NULL,
	[DATE_JOINING_PAF] [datetime2](7) NULL,
	[RANK_SERVICE_DATE_FROM] [datetime2](7) NULL,
	[RANK_SERVICE_DATE_TO] [datetime2](7) NULL,
	[RANK_LEVEL] [numeric](2, 0) NULL,
	[RANK_AT_COMMISSION] [numeric](2, 0) NULL,
	[ARM] [numeric](2, 0) NULL,
	[ARM_DECODE] [varchar](100) NULL,
	[RNK_PTS] [numeric](6, 2) NULL,
	[SERV_PTS] [numeric](6, 2) NULL,
	[SERV_30_PTS] [numeric](6, 2) NULL,
	[CADET_PTS] [numeric](6, 2) NULL,
	[SOS_PTS] [numeric](6, 2) NULL,
	[RNK_SERV_PTS] [numeric](6, 2) NULL,
	[PEB_PTS] [numeric](6, 2) NULL,
	[GRN_PTS] [numeric](6, 2) NULL,
	[GA_PTS] [numeric](6, 2) NULL,
	[NON_GA_PTS] [numeric](6, 2) NULL,
	[COMM_PTS] [numeric](6, 2) NULL,
	[TOT_SER_PTS] [numeric](6, 2) NULL,
	[TOT_PTS] [numeric](6, 2) NULL,
	[P_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_INSURANCE_POLICIES]

In [0]:
/****** Object:  Table [dbo].[T_INSURANCE_POLICIES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_INSURANCE_POLICIES](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[INSURANCE_POLICY_NO] [varchar](20) NOT NULL,
	[INSURANCE_COMPANY] [varchar](20) NULL,
	[AMOUNT_INSURED] [numeric](8, 0) NULL,
	[DATE_OF_INSURANCE] [datetime2](7) NULL,
	[NAME_OF_BENEFICIARY] [varchar](45) NULL,
	[REMARKS] [varchar](25) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_KEY_APP]

In [0]:
/****** Object:  Table [dbo].[T_KEY_APP]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_KEY_APP](
	[PAKNO] [numeric](5, 0) NULL,
	[TYPE_OF_POSTING] [numeric](2, 0) NULL,
	[POSTING_DATE] [datetime2](7) NULL,
	[POSTING_TO_DATE] [datetime2](7) NULL,
	[APPOINTMENT] [varchar](100) NULL,
	[APPOINTMENT_DATE] [datetime2](7) NULL,
	[VACANCY_POST_MAIN_BRANCH_CODE] [varchar](1) NULL,
	[VACANCY_POST_SUB_BRANCH_CODE] [numeric](1, 0) NULL,
	[VACANCY_POST_RANK_CODE] [numeric](2, 0) NULL,
	[VACANCY_POST_BASE_CODE] [numeric](2, 0) NULL,
	[VACANCY_POST_UNIT_CODE] [varchar](4) NULL,
	[VACANCY_POST_SEC_CODE] [varchar](4) NULL,
	[VACANCY_SERIAL_NO] [numeric](2, 0) NULL,
	[VACANCY_DEP_MAIN_BRANCH_CODE] [varchar](1) NULL,
	[VACANCY_DEP_SUB_BRANCH_CODE] [numeric](1, 0) NULL,
	[VACANCY_DEP_RANK_CODE] [numeric](2, 0) NULL,
	[VACANCY_DEP_BASE_CODE] [numeric](2, 0) NULL,
	[VACANCY_DEP_UNIT_CODE] [varchar](4) NULL,
	[VACANCY_DEP_SEC_CODE] [varchar](4) NULL,
	[VACANCY_DEP_SERIAL_NO] [numeric](2, 0) NULL,
	[KEY_APPOINTMENT_DEP_CODE] [numeric](3, 0) NULL,
	[UNIT_POSTED_CODE] [varchar](4) NULL,
	[SECTION_POST_CODE] [varchar](4) NULL,
	[UNIT_DEP_CODE] [varchar](4) NULL,
	[SECTION_DEP_CODE] [varchar](4) NULL,
	[VACANCY_OCCUPIED] [numeric](1, 0) NULL,
	[MARK_FOR_DELETION] [numeric](1, 0) NULL,
	[POSTING_MATERIALIZED] [numeric](1, 0) NULL,
	[APP_GRP_CODE] [numeric](3, 0) NULL,
	[APPOINTMENT_CODE] [numeric](5, 0) NULL,
	[COMMAND_APP] [numeric](1, 0) NULL,
	[SNO] [numeric](3, 0) NULL,
	[BASE_DEP_CODE] [numeric](2, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_LANGUAGES]

In [0]:
/****** Object:  Table [dbo].[T_LANGUAGES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_LANGUAGES](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[LANGUAGE_CODE] [numeric](3, 0) NOT NULL,
	[LANGUAGE_SPEAK] [numeric](1, 0) NULL,
	[LANGUAGE_READ] [numeric](1, 0) NULL,
	[LANGUAGE_WRITE] [numeric](1, 0) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_LATE_AWARDS]

In [0]:
/****** Object:  Table [dbo].[T_LATE_AWARDS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_LATE_AWARDS](
	[PAKNO] [numeric](5, 0) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[T_LEAVES]

In [0]:
/****** Object:  Table [dbo].[T_LEAVES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_LEAVES](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[FROM_DATE] [datetime2](7) NOT NULL,
	[TO_DATE] [datetime2](7) NOT NULL,
	[LEAVE_TYPE] [varchar](1) NULL,
	[REMARKS] [varchar](50) NULL,
	[COUNTRY_CODE] [numeric](3, 0) NULL,
	[PVR] [float] NULL,
	[ADDITIONAL_COUNTRIES_VISITED] [varchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[T_LIST_ORDER]

In [0]:
/****** Object:  Table [dbo].[T_LIST_ORDER]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_LIST_ORDER](
	[PAKNO] [numeric](5, 0) NULL,
	[TYPE] [numeric](3, 0) NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[MERIT_ORDER] [numeric](3, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_MASTER_TABLE]

In [0]:
/****** Object:  Table [dbo].[T_MASTER_TABLE]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MASTER_TABLE](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[CURRENT_STATUS] [numeric](2, 0) NOT NULL,
	[CURRENT_RANK_CODE] [numeric](2, 0) NOT NULL,
	[CURRENT_RANK_DATE] [datetime2](7) NOT NULL,
	[SUBSTANTIVE_RANK_CODE] [numeric](2, 0) NOT NULL,
	[SUBSTANTIVE_RANK_DATE] [datetime2](7) NOT NULL,
	[OFFICIAL_NAME] [varchar](15) NOT NULL,
	[MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[ANTE_DATE_OF_COMMISSION] [datetime2](7) NULL,
	[DATE_OF_COMMISSION] [datetime2](7) NOT NULL,
	[TYPE_OF_COMMISSION] [numeric](2, 0) NOT NULL,
	[POSTING_DATE] [datetime2](7) NULL,
	[CURRENT_POSTING_COMMAND_CODE] [varchar](1) NULL,
	[CURRENT_POSTING_AREA_CODE] [numeric](2, 0) NULL,
	[CURRENT_POSTING_BASE_CODE] [numeric](2, 0) NULL,
	[CURRENT_POSTING_UNIT_CODE] [varchar](4) NULL,
	[DEPLOYMENT_DATE] [datetime2](7) NULL,
	[CURRENT_DEP_COMMAND_CODE] [varchar](1) NULL,
	[CURRENT_DEP_AREA_CODE] [numeric](2, 0) NULL,
	[CURRENT_DEP_BASE_CODE] [numeric](2, 0) NULL,
	[CURRENT_DEP_UNIT_CODE] [varchar](4) NULL,
	[CURRENT_RANK_TYPE] [varchar](1) NULL,
	[CURRENT_POST_SEC_CODE] [varchar](4) NULL,
	[CURRENT_DEP_SEC_CODE] [varchar](4) NULL,
	[DATE_EXT_TO] [datetime2](7) NULL,
	[PROMOTION_FROM_ANTE_DATE] [varchar](1) NULL,
	[CURRENT_RANK_MOVEOVER] [numeric](1, 0) NULL,
	[COURSE_POSITION] [numeric](2, 0) NULL,
	[PERM_STATUS] [numeric](2, 0) NOT NULL,
	[FULL_NAME] [varchar](50) NOT NULL,
	[UNIFORMED] [numeric](1, 0) NULL,
	[JSSNO] [numeric](5, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_MASTER_VIEW_MAT]

In [0]:
/****** Object:  Table [dbo].[T_MASTER_VIEW_MAT]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MASTER_VIEW_MAT](
	[ROWNUMBER] [float] NULL,
	[PAKNO] [numeric](5, 0) NOT NULL,
	[NAME] [varchar](50) NULL,
	[P_NAME] [varchar](4000) NULL,
	[CURRENT_RANK] [varchar](9) NOT NULL,
	[CURRENT_RANK_TYPE] [varchar](8) NULL,
	[CURRENT_RANK_DATE] [varchar](8) NULL,
	[SUBSTANTIVE_RANK] [varchar](9) NOT NULL,
	[SUBSTANTIVE_RANK_DATE] [varchar](8) NULL,
	[GENDER] [varchar](1) NULL,
	[COURSE] [varchar](4000) NULL,
	[COURSE_POSITION] [numeric](2, 0) NULL,
	[RANKHOLDING] [varchar](4000) NULL,
	[APP_STAY] [varchar](4000) NULL,
	[AREA_STAY] [varchar](4000) NULL,
	[PERM_STATUS] [numeric](2, 0) NULL,
	[CURRENT_STATUS] [numeric](2, 0) NULL,
	[CURRENT_RANK_CODE] [numeric](2, 0) NULL,
	[MAIN_BRANCH_CODE] [varchar](1) NULL,
	[SUB_BRANCH_CODE] [numeric](1, 0) NULL,
	[TYPE_OF_COMMISSION] [numeric](2, 0) NULL,
	[COURSE_NO] [varchar](3) NULL,
	[COURSE_TYPE] [numeric](2, 0) NULL,
	[SUBSTANTIVE_RANK_CODE] [numeric](2, 0) NULL,
	[EXP_SOD] [varchar](8) NULL,
	[EXP_SER_LIMIT] [varchar](8) NULL,
	[EXP_AGE_LIMIT] [varchar](8) NULL,
	[ANTE_DATE_OF_COMMISSION] [varchar](8) NULL,
	[DATE_OF_COMMISSION] [varchar](8) NULL,
	[DATE_OF_BIRTH] [varchar](8) NULL,
	[TOTALSERVICE] [varchar](4000) NULL,
	[AGE] [varchar](4000) NULL,
	[BRANCH] [varchar](4000) NULL,
	[QUALIFICATION_CODES] [varchar](500) NULL,
	[QUALIFICATION] [varchar](500) NULL,
	[AWARDS] [varchar](500) NULL,
	[QUALIFICATION_PRINT] [varchar](500) NULL,
	[AWARDS_PRINT] [varchar](500) NULL,
	[COURSE_CODES] [varchar](4000) NULL,
	[COURSES] [varchar](4000) NULL,
	[FLG_HOUR_CODES] [varchar](4000) NULL,
	[FLG_HOURS] [varchar](4000) NULL,
	[AREA_STAY_ALL] [varchar](4000) NULL,
	[COMMAND_CLEARANCE] [varchar](4000) NULL,
	[COMMAND_CLEARANCE_CODES] [varchar](4000) NULL,
	[CCS_PB_WC] [float] NULL,
	[CURRENT_DEP_COMMAND_CODE] [float] NULL,
	[CURRENT_DEP_AREA_CODE] [float] NULL,
	[CURRENT_DEP_BASE_CODE] [float] NULL,
	[CURRENT_DEP_UNIT_CODE] [varchar](50) NULL,
	[CURRENT_DEP_SEC_CODE] [varchar](50) NULL,
	[DAYS_ABROAD] [float] NULL,
	[FLYING_HOURS] [varchar](4000) NULL,
	[MED_CAT] [varchar](100) NULL,
	[QFI_CAT] [varchar](100) NULL,
	[APPOINTMENT] [varchar](4000) NULL,
	[BASE_STAY_ALL] [varchar](4000) NULL
) ON [PRIMARY]
GO

# [dbo].[T_MEDICAL_BOARDS]

In [0]:
/****** Object:  Table [dbo].[T_MEDICAL_BOARDS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MEDICAL_BOARDS](
	[PAK_NO] [numeric](5, 0) NOT NULL,
	[BOARD_DATE] [datetime2](7) NOT NULL,
	[BOARD_TYPE] [varchar](15) NOT NULL,
	[MED_CAT_BEFORE] [varchar](25) NOT NULL,
	[MED_CAT_AFTER] [varchar](25) NOT NULL,
	[HELD_AT] [varchar](20) NULL,
	[BOARD_REMARKS] [varchar](150) NULL,
	[FITNESS_PERCENTAGE] [numeric](5, 2) NULL,
	[ACCOMODATION] [numeric](1, 0) NULL,
	[JOB] [numeric](1, 0) NULL,
	[MED_CAT_UPTO] [datetime2](7) NULL,
	[NATURE_OF_CHANGE] [varchar](150) NULL,
	[CAT_STATUS] [numeric](2, 0) NOT NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_NEXT_OF_KIN]

In [0]:
/****** Object:  Table [dbo].[T_NEXT_OF_KIN]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_NEXT_OF_KIN](
	[PAK_NO] [numeric](5, 0) NOT NULL,
	[TYPE_0F_KIN] [numeric](1, 0) NOT NULL,
	[BENEFICIARY] [numeric](1, 0) NULL,
	[NAME] [varchar](60) NOT NULL,
	[RELATIONSHIP_CODE] [numeric](2, 0) NOT NULL,
	[HOUSE_NO] [varchar](30) NULL,
	[STREET_NO] [numeric](4, 0) NULL,
	[MOHALLAH_SECTOR_NO] [varchar](20) NULL,
	[VILLAGE] [varchar](30) NULL,
	[POST_OFFICE] [varchar](30) NULL,
	[POSTAL_CODE] [varchar](10) NULL,
	[POLICE_STATION] [varchar](15) NULL,
	[TEHSIL_OR_TOWN] [numeric](2, 0) NULL,
	[CITY_OR_DISTRICT_CODE] [numeric](4, 0) NULL,
	[PROVINCE_OR_STATE_CODE] [numeric](3, 0) NULL,
	[COUNTRY_CODE] [numeric](3, 0) NULL,
	[PHONE_NO1] [varchar](50) NULL,
	[PHONE_NO2] [varchar](50) NULL,
	[EMAIL_ADDRESS] [varchar](35) NULL,
	[REMARKS] [varchar](30) NULL,
	[ADDRESS] [varchar](500) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL,
	[CNIC_NO] [varchar](20) NULL
) ON [PRIMARY]
GO

# [dbo].[T_NOC]

In [0]:
/****** Object:  Table [dbo].[T_NOC]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_NOC](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[NOC_TYPE_CODE] [numeric](2, 0) NOT NULL,
	[AUTHORITY] [varchar](50) NOT NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL,
	[EXPIRY_DATE] [datetime2](7) NULL,
	[REMARKS] [varchar](200) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_NOC_ISSUED]

In [0]:
/****** Object:  Table [dbo].[T_NOC_ISSUED]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_NOC_ISSUED](
	[RANK_CODE] [float] NULL,
	[NAME] [varchar](100) NULL,
	[PAKNO] [float] NULL,
	[MAIN_BRANCH_CODE] [varchar](1) NULL,
	[SUB_BRANCH_CODE] [float] NULL,
	[STATUS] [varchar](10) NULL,
	[INLAND_JOB_NOC] [datetime2](7) NULL,
	[ABROAD_JOB_NOC] [datetime2](7) NULL,
	[INTERIM] [datetime2](7) NULL,
	[CPL_ATPL_NOC] [datetime2](7) NULL,
	[RED_NOC] [datetime2](7) NULL,
	[TAKE_UP_JOB_NOC] [datetime2](7) NULL,
	[REMARKS] [varchar](1000) NULL
) ON [PRIMARY]
GO

# [dbo].[T_NON_PAF_IOS]

In [0]:
/****** Object:  Table [dbo].[T_NON_PAF_IOS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_NON_PAF_IOS](
	[IO_ORG] [numeric](2, 0) NOT NULL,
	[IO_OERID] [numeric](8, 0) NOT NULL,
	[IO_NAME] [varchar](30) NULL
) ON [PRIMARY]
GO

# [dbo].[T_OERS_PERIOD]

In [0]:
/****** Object:  Table [dbo].[T_OERS_PERIOD]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OERS_PERIOD](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[OER_FROM] [datetime2](7) NOT NULL,
	[OER_TO] [datetime2](7) NOT NULL,
	[OER_YEAR] [numeric](4, 0) NULL,
	[TYPE_CODE] [numeric](1, 0) NULL,
	[TYPE_DECODE] [varchar](25) NULL
) ON [PRIMARY]
GO

# [dbo].[T_OFF_BENEFITS]

In [0]:
/****** Object:  Table [dbo].[T_OFF_BENEFITS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OFF_BENEFITS](
	[PAKNO] [numeric](5, 0) NULL,
	[DHA_BENEFITS] [varchar](300) NULL
) ON [PRIMARY]
GO

# [dbo].[T_OFF_CURR_COURSES]

In [0]:
/****** Object:  Table [dbo].[T_OFF_CURR_COURSES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OFF_CURR_COURSES](
	[COURSE_MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[COURSE_SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[COURSE_CATEGORY_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_GROUP_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_SUB_GROUP_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_WEAPON_SPLTY_CODE] [numeric](2, 0) NOT NULL,
	[COURSE_SERIAL_NO] [numeric](3, 0) NOT NULL,
	[COURSE_START_DATE] [datetime2](7) NOT NULL,
	[PAKNO] [numeric](5, 0) NOT NULL,
	[PASS_OR_FAIL] [float] NULL,
	[GRADE] [varchar](2) NULL,
	[GPA] [numeric](3, 2) NULL,
	[REMARKS_ON_OFF] [varchar](50) NULL,
	[PERCENT] [numeric](4, 2) NULL,
	[ORDER_OF_MERIT] [numeric](3, 0) NULL,
	[TOT_PARTICIPANTS] [numeric](3, 0) NULL,
	[AUTHORITY] [varchar](20) NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL,
	[REMARKS_POST_COURSE] [varchar](150) NULL,
	[RECOMMENDATION] [varchar](150) NULL,
	[GRADE_5] [varchar](15) NULL,
	[DISPOSAL] [numeric](2, 0) NULL,
	[WITHDRAWAL_DATE] [datetime2](7) NULL,
	[RECOMMENDED_FOR] [float] NULL,
	[IS_ONLINE] [float] NULL,
	[IS_B6_I] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_OFF_MAJOR_AIRCRAFT]

In [0]:
/****** Object:  Table [dbo].[T_OFF_MAJOR_AIRCRAFT]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OFF_MAJOR_AIRCRAFT](
	[PAKNO] [float] NOT NULL,
	[AC_CODE] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_OFF_POSTING_OPTION_MAIN]

In [0]:
/****** Object:  Table [dbo].[T_OFF_POSTING_OPTION_MAIN]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OFF_POSTING_OPTION_MAIN](
	[OPTION_MAIN_ID] [float] NULL,
	[OPTION_PAKNO] [float] NULL,
	[OPTION_REASON_ID] [float] NULL,
	[OPTION1_TYPE] [float] NULL,
	[OPTION1] [float] NULL,
	[OPTOPN2_TYPE] [float] NULL,
	[OPTOPN2] [float] NULL,
	[OPTOPN3_TYPE] [float] NULL,
	[OPTOPN3] [float] NULL,
	[OPTOPN_REMARKS] [varchar](4000) NULL,
	[OPTOPN_IP_ADDRESS] [varchar](20) NULL,
	[OPTOPN_DATE] [datetime2](7) NULL,
	[FINALIZED] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_OFFENDERS]

In [0]:
/****** Object:  Table [dbo].[T_OFFENDERS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OFFENDERS](
	[PAKNO] [varchar](10) NOT NULL,
	[OCC_DATE] [datetime2](7) NOT NULL,
	[CATEGORY] [numeric](1, 0) NULL,
	[LATE_COMER] [numeric](1, 0) NULL,
	[PARKING_VEH] [numeric](1, 0) NULL,
	[TURN_OUT] [numeric](1, 0) NULL,
	[REMARKS] [varchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[T_OFFICER_POSTING_TENURE]

In [0]:
/****** Object:  Table [dbo].[T_OFFICER_POSTING_TENURE]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OFFICER_POSTING_TENURE](
	[S_NO] [float] NULL,
	[PAKNO] [numeric](5, 0) NOT NULL,
	[CURRENT_RANK_CODE] [numeric](2, 0) NOT NULL,
	[CURRENT_RANK_DATE] [datetime2](7) NOT NULL,
	[CURRENT_RANK_TYPE] [varchar](1) NULL,
	[SUBSTANTIVE_RANK_CODE] [numeric](2, 0) NOT NULL,
	[SUBSTANTIVE_RANK_DATE] [datetime2](7) NOT NULL,
	[FULL_NAME] [varchar](50) NOT NULL,
	[GENDER] [varchar](1) NULL,
	[MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[MAIN_BRANCH_DECODE] [varchar](10) NULL,
	[SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[SUB_BRANCH_DECODE] [varchar](10) NOT NULL,
	[DATE_OF_COMMISSION] [datetime2](7) NULL,
	[TYPE_OF_COMMISSION] [numeric](2, 0) NULL,
	[COURSE_NO] [varchar](3) NULL,
	[COURSE_POSITION] [numeric](2, 0) NULL,
	[COURSE_TYPE] [numeric](2, 0) NULL,
	[CURRENT_STATUS] [numeric](2, 0) NULL,
	[PERM_STATUS] [numeric](2, 0) NULL,
	[PEN1_DATE] [datetime2](7) NULL,
	[RETIREMENT_DATE] [datetime2](7) NULL,
	[POSTING_DATE] [datetime2](7) NULL,
	[CURRENT_DEP_AREA_CODE] [numeric](2, 0) NULL,
	[CURRENT_DEP_BASE_CODE] [numeric](2, 0) NULL,
	[CURRENT_DEP_COMMAND_CODE] [varchar](1) NULL,
	[CURRENT_DEP_SEC_CODE] [varchar](4) NULL,
	[CURRENT_DEP_UNIT_CODE] [varchar](4) NULL,
	[CURRENT_LOCATION] [varchar](4000) NULL,
	[CURRENT_POSTING_AREA_CODE] [numeric](2, 0) NULL,
	[CURRENT_POSTING_BASE_CODE] [numeric](2, 0) NULL,
	[CURRENT_POSTING_COMMAND_CODE] [varchar](1) NULL,
	[CURRENT_POSTING_UNIT_CODE] [varchar](4) NULL,
	[CURRENT_POST_SEC_CODE] [varchar](4) NULL,
	[MARITAL_STATUS] [varchar](1) NULL,
	[PHOTOGRAPH] [varchar](70) NULL,
	[CURR_APPT] [varchar](4000) NULL,
	[CURR_APPT_STAY] [varchar](4000) NULL,
	[CURR_AREA_STAY] [varchar](4000) NULL,
	[CURR_BASE_STAY] [varchar](4000) NULL,
	[CURR_APPT_STAY_IN_MONTHS] [float] NULL,
	[CURR_AREA_STAY_IN_MONTHS] [float] NULL,
	[CURR_BASE_STAY_IN_MONTHS] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_OFFICERS_PHOTOS_STATUS]

In [0]:
/****** Object:  Table [dbo].[T_OFFICERS_PHOTOS_STATUS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OFFICERS_PHOTOS_STATUS](
	[PAKNO] [float] NULL,
	[FILE_TYPE] [varchar](20) NULL,
	[DATE_ACCESSED] [datetime2](7) NULL,
	[DATE_MODIFIED] [datetime2](7) NULL,
	[DATE_CREATED] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_OLCF_UPLOADED_PHOTO]

In [0]:
/****** Object:  Table [dbo].[T_OLCF_UPLOADED_PHOTO]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OLCF_UPLOADED_PHOTO](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[PHOTO_NAME] [varchar](30) NOT NULL,
	[UPLOADED_DATE] [datetime2](7) NULL,
	[UPDATE_CONFIRM] [numeric](1, 0) NULL,
	[UPDATE_REMARKS] [varchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[T_OPS_CAT_FOR_CIS]

In [0]:
/****** Object:  Table [dbo].[T_OPS_CAT_FOR_CIS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OPS_CAT_FOR_CIS](
	[CAT_TYPE] [varchar](41) NULL,
	[PAKNO] [numeric](5, 0) NULL,
	[CAT_CODE] [numeric](2, 0) NULL,
	[CAT_DATE] [datetime2](7) NULL,
	[VALID_UPTO] [datetime2](7) NULL,
	[CAT_DECODE] [varchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[T_OPS_CATEGORIES]

In [0]:
/****** Object:  Table [dbo].[T_OPS_CATEGORIES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OPS_CATEGORIES](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[CAT_CODE] [numeric](2, 0) NOT NULL,
	[CAT_DATE] [datetime2](7) NOT NULL,
	[VALID_UPTO] [datetime2](7) NULL,
	[CAT_STATUS] [varchar](15) NULL,
	[ISSU_APP_CODE] [numeric](4, 0) NULL,
	[ISSU_APP_UNIT] [varchar](4) NULL,
	[ISSU_APP_SECTION] [varchar](4) NULL,
	[CAT_SUB_CODE] [numeric](2, 0) NULL,
	[CAT_TYPE] [varchar](25) NULL,
	[CATEGORY] [varchar](15) NULL,
	[TYPE_OF_AIRCRAFT] [varchar](25) NULL,
	[BASES] [varchar](4) NULL
) ON [PRIMARY]
GO

# [dbo].[T_OPS_CATS]

In [0]:
/****** Object:  Table [dbo].[T_OPS_CATS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OPS_CATS](
	[MAIN_BRANCH] [varchar](1) NULL,
	[SUB_BRANCH] [numeric](1, 0) NULL,
	[OPS_CAT] [varchar](15) NULL,
	[DESCRIPTION] [char](40) NULL
) ON [PRIMARY]
GO

# [dbo].[T_OVERWEIGHT_OFFICERS]

In [0]:
/****** Object:  Table [dbo].[T_OVERWEIGHT_OFFICERS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OVERWEIGHT_OFFICERS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[BMI] [numeric](2, 0) NULL,
	[OVER_WEIGHT_IN_KG] [numeric](2, 0) NULL,
	[THIRD_QTR] [numeric](3, 0) NULL,
	[FOURTH_QTR] [numeric](3, 0) NULL,
	[FIRST_QTR] [numeric](3, 0) NULL,
	[TREND] [varchar](20) NULL,
	[SECOND_QTR] [numeric](3, 0) NULL,
	[BOARD_TYPE] [numeric](1, 0) NOT NULL,
	[BOARD_YEAR] [numeric](4, 0) NOT NULL,
	[AUTHORITY] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_P_CAR_AUTHORIZATION]

In [0]:
/****** Object:  Table [dbo].[T_P_CAR_AUTHORIZATION]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_P_CAR_AUTHORIZATION](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[TRAVELED_BY] [numeric](2, 0) NOT NULL,
	[FROM_UNIT_CODE] [varchar](4) NULL,
	[FROM_SECTION_CODE] [varchar](4) NULL,
	[TO_UNIT_CODE] [varchar](4) NULL,
	[TO_SECTION_CODE] [varchar](4) NULL,
	[TRAVELING_DATE] [datetime2](7) NOT NULL,
	[AUTHORITY] [varchar](25) NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL,
	[PURPOSE] [varchar](80) NULL,
	[REMARKS] [varchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[T_PAKNO_ORDER]

In [0]:
/****** Object:  Table [dbo].[T_PAKNO_ORDER]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PAKNO_ORDER](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[MERIT_ORDER] [numeric](2, 0) NULL,
	[DATE_ENTERED] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_PEC_ENGG_OFF]

In [0]:
/****** Object:  Table [dbo].[T_PEC_ENGG_OFF]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PEC_ENGG_OFF](
	[MEMBERSHIID] [numeric](5, 0) NOT NULL,
	[PAKNO] [numeric](5, 0) NOT NULL,
	[INSTITUTE] [varchar](400) NULL,
	[DEGREE] [varchar](200) NULL,
	[COUNTRYCODE] [numeric](5, 0) NULL,
	[COUNTRYDECODE] [varchar](200) NULL,
	[PECREGISTRATION] [varchar](200) NULL,
	[ISPEC] [varchar](5) NULL,
	[TYPE] [varchar](5) NULL,
	[SUGGESTIONS] [varchar](200) NULL
) ON [PRIMARY]
GO

# [dbo].[T_PHOTO_INFO]

In [0]:
/****** Object:  Table [dbo].[T_PHOTO_INFO]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PHOTO_INFO](
	[PAKNO] [numeric](5, 0) NULL,
	[SCANNED] [numeric](1, 0) NULL,
	[RANK_PATTERN] [varchar](1) NULL,
	[RANK_CODE] [numeric](2, 0) NULL,
	[E_FOLDER_SCANNED] [numeric](1, 0) NULL,
	[WITH_BEARD] [numeric](1, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_PILOT_STATUS]

In [0]:
/****** Object:  Table [dbo].[T_PILOT_STATUS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PILOT_STATUS](
	[PAKNO] [float] NULL,
	[FULL_NAME] [varchar](50) NULL,
	[FLYING_STATUS_CODE] [float] NULL,
	[FLYING_STATUS] [varchar](50) NULL,
	[OPS_STATUS_CODE] [float] NULL,
	[OPS_STATUS] [varchar](50) NULL,
	[REAR_SEAT_STATUS_CODE] [float] NULL,
	[REAR_SEAT_STATUS] [varchar](50) NULL,
	[INSTRUMENT_RATING] [varchar](50) NULL,
	[DUE_IRT] [datetime2](7) NULL,
	[FLYING_STATUS_AIRCRAFT_CODE] [float] NULL,
	[FLYING_STATUS_AIRCRAFT] [varchar](30) NULL,
	[OPS_STATUS_DATE] [datetime2](7) NULL,
	[OPS_STATUS_AIRCRAFT_CODE] [float] NULL,
	[OPS_STATUS_AIRCRAFT] [varchar](30) NULL,
	[FLYING_STATUS_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_PILOT_STATUS_TEMP]

In [0]:
/****** Object:  Table [dbo].[T_PILOT_STATUS_TEMP]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PILOT_STATUS_TEMP](
	[PAKNO] [float] NULL,
	[FULL_NAME] [varchar](50) NULL,
	[FLYING_STATUS_CODE] [float] NULL,
	[FLYING_STATUS] [varchar](50) NULL,
	[OPS_STATUS_CODE] [float] NULL,
	[OPS_STATUS] [varchar](50) NULL,
	[REAR_SEAT_STATUS_CODE] [float] NULL,
	[REAR_SEAT_STATUS] [varchar](50) NULL,
	[INSTRUMENT_RATING] [varchar](50) NULL,
	[DUE_IRT] [datetime2](7) NULL,
	[FLYING_STATUS_AIRCRAFT_CODE] [float] NULL,
	[FLYING_STATUS_AIRCRAFT] [varchar](30) NULL,
	[OPS_STATUS_DATE] [datetime2](7) NULL,
	[OPS_STATUS_AIRCRAFT_CODE] [float] NULL,
	[OPS_STATUS_AIRCRAFT] [varchar](30) NULL,
	[FLYING_STATUS_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_PM_BRANCH_DATA]

In [0]:
/****** Object:  Table [dbo].[T_PM_BRANCH_DATA]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PM_BRANCH_DATA](
	[ISSUE_DATE] [datetime2](7) NULL,
	[HEIGHT] [varchar](10) NULL,
	[BUILT] [varchar](10) NULL,
	[EYES_COLOR] [varchar](10) NULL,
	[HAIR_COLOR] [varchar](10) NULL,
	[DOB] [datetime2](7) NULL,
	[BLOOD_GRP] [varchar](7) NULL,
	[ID_MARK] [varchar](25) NULL,
	[ADDR1] [varchar](25) NULL,
	[ADDR2] [varchar](25) NULL,
	[NIC] [varchar](13) NULL,
	[PAKNO] [numeric](5, 0) NOT NULL,
	[EYE_COLOR_NAME] [varchar](20) NULL,
	[EYE_COLOR_NEW] [varchar](15) NULL,
	[HAIR_COLOR_NAME] [varchar](15) NULL,
	[BUILT_NEW] [varchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[T_POSTINGS]

In [0]:
/****** Object:  Table [dbo].[T_POSTINGS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_POSTINGS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[TYPE_OF_POSTING] [numeric](2, 0) NOT NULL,
	[POSTING_DATE] [datetime2](7) NOT NULL,
	[POSTING_TO_DATE] [datetime2](7) NULL,
	[APPOINTMENT_DATE] [datetime2](7) NULL,
	[POSTING_MATERIALIZED] [numeric](1, 0) NOT NULL,
	[POSTING_MATERIALIZED_DATE] [datetime2](7) NULL,
	[AUTHORITY] [varchar](25) NOT NULL,
	[AUTHORITY_DATE] [datetime2](7) NOT NULL,
	[VACANCY_POST_MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[VACANCY_POST_SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[VACANCY_POST_RANK_CODE] [numeric](2, 0) NOT NULL,
	[VACANCY_POST_BASE_CODE] [numeric](2, 0) NULL,
	[VACANCY_POST_UNIT_CODE] [varchar](4) NOT NULL,
	[VACANCY_POST_SEC_CODE] [varchar](4) NOT NULL,
	[VACANCY_SERIAL_NO] [numeric](2, 0) NOT NULL,
	[KEY_APPOINTMENT_POST_CODE] [numeric](2, 0) NULL,
	[COMMAND_POSTED_CODE] [varchar](1) NOT NULL,
	[AREA_POSTED_CODE] [numeric](2, 0) NOT NULL,
	[BASE_POSTED_CODE] [numeric](2, 0) NULL,
	[UNIT_POSTED_CODE] [varchar](4) NOT NULL,
	[SECTION_POST_CODE] [varchar](4) NOT NULL,
	[REMARKS] [varchar](100) NULL,
	[OLD_CONTROL_CODE] [numeric](7, 0) NULL,
	[DESPATCHED_YES_NO] [numeric](1, 0) NULL,
	[DESPATCH_DATE] [datetime2](7) NULL,
	[VACANCY_OCCUPIED] [numeric](1, 0) NULL,
	[MARK_FOR_DELETION] [numeric](1, 0) NULL,
	[REPLACEMENT_REQUIRED] [numeric](1, 0) NULL,
 CONSTRAINT [PK_T_POSTINGS] PRIMARY KEY CLUSTERED 
(
	[PAKNO] ASC,
	[POSTING_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[T_POSTINGS_AUDIT]

In [0]:
/****** Object:  Table [dbo].[T_POSTINGS_AUDIT]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_POSTINGS_AUDIT](
	[USER_ID] [varchar](25) NULL,
	[ACTION_DONE] [varchar](150) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL,
	[PAKNO] [numeric](5, 0) NULL,
	[OLD_POSTING_DATE] [datetime2](7) NULL,
	[NEW_POSTING_DATE] [datetime2](7) NULL,
	[OLD_APPOINTMENT_DATE] [datetime2](7) NULL,
	[NEW_APPOINTMENT_DATE] [datetime2](7) NULL,
	[MODULE] [varchar](50) NULL,
	[BLOCK_NAME] [varchar](50) NULL,
	[POSTING_MATERIALIZED] [numeric](1, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_PREV_JOB_EXPS]

In [0]:
/****** Object:  Table [dbo].[T_PREV_JOB_EXPS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PREV_JOB_EXPS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[PREV_EMPLOYEE_NO] [varchar](15) NOT NULL,
	[DATE_FROM] [datetime2](7) NOT NULL,
	[DATE_TO] [datetime2](7) NOT NULL,
	[DESIGNATION] [varchar](30) NULL,
	[APPOINTMENT] [varchar](15) NULL,
	[DEPARTMENT] [varchar](20) NULL,
	[ORGANISATION] [varchar](20) NULL,
	[TYPE_OF_ORGANISATION] [varchar](20) NULL,
	[PENSIONABLE] [numeric](1, 0) NULL,
	[REMARKS] [varchar](50) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_PROMOTION_HISTORY]

In [0]:
/****** Object:  Table [dbo].[T_PROMOTION_HISTORY]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PROMOTION_HISTORY](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[RANK_CODE] [numeric](2, 0) NOT NULL,
	[RANK_DATE] [datetime2](7) NOT NULL,
	[RANK_TYPE] [varchar](1) NOT NULL,
	[AUTHORITY] [varchar](25) NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL,
	[TYPE_OF_PROMOTION] [numeric](1, 0) NOT NULL,
	[PROMOTION_OR_DEMOTION] [numeric](1, 0) NULL,
	[MASTER_UPDATE] [numeric](1, 0) NULL,
	[MO_DATE] [datetime2](7) NULL,
	[MOVEOVER] [numeric](1, 0) NULL,
	[MO_AUTHORITY] [varchar](25) NULL,
	[MO_AUTH_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_QUALIFICATIONS]

In [0]:
/****** Object:  Table [dbo].[T_QUALIFICATIONS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_QUALIFICATIONS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[MAJOR_QUALIFICATION_CODE] [numeric](2, 0) NOT NULL,
	[SUB_QUALIFICATION_CODE] [numeric](2, 0) NOT NULL,
	[SUBJECT_SPECIALITY_CODE] [numeric](3, 0) NOT NULL,
	[YEAR] [numeric](4, 0) NOT NULL,
	[FROM_DATE] [datetime2](7) NULL,
	[TO_DATE] [datetime2](7) NULL,
	[GRADE] [varchar](2) NULL,
	[GPA] [numeric](4, 2) NULL,
	[DIVISION] [numeric](2, 0) NULL,
	[TOTAL_MARKS] [numeric](4, 0) NULL,
	[MARKS_OBTAINED] [numeric](4, 0) NULL,
	[GOVT_OR_PRIVATE] [numeric](1, 0) NULL,
	[RECOGNIZED] [numeric](1, 0) NULL,
	[INSTITUTION] [varchar](100) NULL,
	[COUNTRY_CODE] [numeric](3, 0) NOT NULL,
	[CITY_OR_DISTRICT] [varchar](30) NULL,
	[REMARKS] [varchar](100) NULL,
	[QUAL_PAY] [numeric](1, 0) NULL,
	[AUTHORIZE_DATE] [datetime2](7) NULL,
	[PERCENT] [numeric](5, 2) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL,
	[SPECIALITY] [varchar](100) NULL,
	[TOT_GPA] [numeric](4, 2) NULL,
	[QUAL_EQUAL] [numeric](3, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_RANK_SERVICES]

In [0]:
/****** Object:  Table [dbo].[T_RANK_SERVICES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RANK_SERVICES](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[PREVIOUS_SERVICE_NO] [numeric](15, 0) NOT NULL,
	[ARM] [numeric](2, 0) NOT NULL,
	[RANK_AT_COMMISSION] [numeric](3, 0) NOT NULL,
	[TRADE] [varchar](100) NULL,
	[RANK_SERVICE_DATE_FROM] [datetime2](7) NULL,
	[RANK_SERVICE_DATE_TO] [datetime2](7) NULL,
	[LOSS_OF_SERVICE_DAYS] [numeric](4, 0) NULL,
	[REMARKS] [varchar](100) NULL,
	[RECKONABLE_TO_PENSION] [numeric](1, 0) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_RELATIONS]

In [0]:
/****** Object:  Table [dbo].[T_RELATIONS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RELATIONS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[RELATIVE_OF] [varchar](2) NOT NULL,
	[RELATIONHIP_CODE] [numeric](2, 0) NOT NULL,
	[RELATIVE_NAME] [varchar](45) NOT NULL,
	[BLOOD_RELATION] [numeric](1, 0) NOT NULL,
	[RELATIVE_OCCUPATION] [numeric](4, 0) NULL,
	[RELATIVE_ADDRESS] [varchar](1000) NULL,
	[CITY_OR_DISTRICT] [numeric](4, 0) NULL,
	[DEAD_OR_ALIVE] [numeric](1, 0) NOT NULL,
	[DEPENDENT] [numeric](1, 0) NOT NULL,
	[GENDER] [numeric](1, 0) NULL,
	[DATE_OF_BIRTH] [datetime2](7) NULL,
	[PLACE_OF_BIRTH] [numeric](4, 0) NULL,
	[NATIONALITY_CODE] [numeric](3, 0) NULL,
	[RELIGION_CODE] [numeric](2, 0) NULL,
	[SECT_CODE] [numeric](2, 0) NULL,
	[CAST_CODE] [numeric](3, 0) NULL,
	[NAT_ID_CARD_NO] [varchar](15) NULL,
	[CURRENT_STATUS] [numeric](2, 0) NULL,
	[DATE_OF_DEATH] [datetime2](7) NULL,
	[REMARKS] [varchar](2000) NULL,
	[TEHSIL_CODE] [numeric](4, 0) NULL,
	[SPOUSE_NATIONALITY_CODE] [numeric](3, 0) NULL,
	[TEHSIL_OF_BIRTH] [numeric](4, 0) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL,
	[DISABILITY] [varchar](4) NULL,
	[DISABILITY_REMARKS] [varchar](200) NULL,
	[DISABILITY_DATE] [datetime2](7) NULL,
	[ADOPTED] [float] NULL,
	[STEP] [float] NULL,
	[MED_ENTITLEMENT] [numeric](1, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_RELATIONS_ISDEV]

In [0]:
/****** Object:  Table [dbo].[T_RELATIONS_ISDEV]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RELATIONS_ISDEV](
	[PAKNO] [float] NULL,
	[RELATIONHIP_CODE] [float] NULL,
	[RELATIVE_OF] [float] NULL,
	[BLOOD_RELATION] [float] NULL,
	[RELATIVE_NAME] [varchar](50) NULL,
	[DEAD_OR_ALIVE] [float] NULL,
	[DEPENDENT] [float] NULL,
	[NAT_ID_CARD_NO] [varchar](15) NULL,
	[NATIONALITY_CODE] [float] NULL,
	[DATE_OF_BIRTH] [datetime2](7) NULL,
	[CITY_OR_DISTRICT] [float] NULL,
	[TEHSIL_CODE] [float] NULL,
	[RELATIVE_ADDRESS] [varchar](500) NULL,
	[LAND_LINE] [varchar](50) NULL,
	[MOBILE] [varchar](50) NULL,
	[RELATIVE_OCCUPATION] [float] NULL,
	[OCCUPATION_SECTOR] [float] NULL,
	[OCCUPATION_DETAILS] [varchar](500) NULL,
	[SPOUSE_NO] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_RELATIONS_TEMP]

In [0]:
/****** Object:  Table [dbo].[T_RELATIONS_TEMP]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RELATIONS_TEMP](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[RELATIVE_OF] [varchar](2) NOT NULL,
	[RELATIONHIP_CODE] [numeric](2, 0) NOT NULL,
	[RELATIVE_NAME] [varchar](45) NOT NULL,
	[BLOOD_RELATION] [numeric](1, 0) NOT NULL,
	[RELATIVE_OCCUPATION] [numeric](4, 0) NULL,
	[RELATIVE_ADDRESS] [varchar](1000) NULL,
	[CITY_OR_DISTRICT] [numeric](4, 0) NULL,
	[DEAD_OR_ALIVE] [numeric](1, 0) NOT NULL,
	[DEPENDENT] [numeric](1, 0) NOT NULL,
	[GENDER] [numeric](1, 0) NULL,
	[DATE_OF_BIRTH] [datetime2](7) NULL,
	[PLACE_OF_BIRTH] [numeric](4, 0) NULL,
	[NATIONALITY_CODE] [numeric](3, 0) NULL,
	[RELIGION_CODE] [numeric](2, 0) NULL,
	[SECT_CODE] [numeric](2, 0) NULL,
	[CAST_CODE] [numeric](3, 0) NULL,
	[NAT_ID_CARD_NO] [varchar](15) NULL,
	[CURRENT_STATUS] [numeric](2, 0) NULL,
	[DATE_OF_DEATH] [datetime2](7) NULL,
	[REMARKS] [varchar](2000) NULL,
	[TEHSIL_CODE] [numeric](4, 0) NULL,
	[SPOUSE_NATIONALITY_CODE] [numeric](3, 0) NULL,
	[TEHSIL_OF_BIRTH] [numeric](4, 0) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL,
	[DISABILITY] [varchar](4) NULL,
	[DISABILITY_REMARKS] [varchar](200) NULL,
	[DISABILITY_DATE] [datetime2](7) NULL,
	[ADOPTED] [float] NULL,
	[STEP] [float] NULL,
	[MED_ENTITLEMENT] [numeric](1, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_RELS_IN_FORCES]

In [0]:
/****** Object:  Table [dbo].[T_RELS_IN_FORCES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RELS_IN_FORCES](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[RELATIONSHIP_CODE] [numeric](2, 0) NOT NULL,
	[NAME] [varchar](40) NOT NULL,
	[OCCUPATION] [varchar](25) NULL,
	[RANK_CODE] [numeric](3, 0) NULL,
	[SERVING_OR_RETD] [numeric](2, 0) NULL,
	[CURRENT_UNIT] [varchar](50) NULL,
	[ARM] [numeric](2, 0) NULL,
	[REL_SERVICE_NO] [numeric](15, 0) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL,
	[CNIC] [varchar](20) NULL
) ON [PRIMARY]
GO

# [dbo].[T_REMARKS_TEST]

In [0]:
/****** Object:  Table [dbo].[T_REMARKS_TEST]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_REMARKS_TEST](
	[PAKNO] [float] NULL,
	[APPOINTMENT_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_RET_CRITERIA]

In [0]:
/****** Object:  Table [dbo].[T_RET_CRITERIA]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RET_CRITERIA](
	[COMM_TYPE] [numeric](2, 0) NOT NULL,
	[BRANCH_CODE] [varchar](1) NOT NULL,
	[RANK_CODE] [numeric](2, 0) NOT NULL,
	[SER_LIMIT] [numeric](2, 0) NOT NULL,
	[AGE_LIMIT] [numeric](2, 0) NOT NULL,
	[MOVEOVER_DUE_AFTER] [numeric](2, 0) NULL,
	[STATUS_DATE] [datetime2](7) NOT NULL,
	[STATUS_TO_DATE] [datetime2](7) NULL,
	[REMARKS] [varchar](500) NULL
) ON [PRIMARY]
GO

# [dbo].[T_RETIRED_OFFRS_REHAB_DATA]

In [0]:
/****** Object:  Table [dbo].[T_RETIRED_OFFRS_REHAB_DATA]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RETIRED_OFFRS_REHAB_DATA](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[FIVE_YRS_AVG] [float] NULL,
	[TEN_YRS_AVGG] [float] NULL,
	[LIFETIME_AVG] [float] NULL,
	[DISCIPLINE_RECORD] [varchar](4000) NULL,
	[DISMISSAL] [float] NULL,
	[L_O_COUNSELLING] [float] NULL,
	[L_O_ADV] [float] NULL,
	[L_O_DISP] [float] NULL,
	[L_O_GUID] [float] NULL,
	[L_O_REP] [float] NULL,
	[L_O_WARN] [float] NULL,
	[SENIORITY_LOSS] [float] NULL,
	[MISC] [float] NULL,
	[REPRIMAND] [float] NULL,
	[SEVERE_REPRIMAND] [float] NULL,
	[L_O_DEBRIEF] [float] NULL,
	[SPECIAL_OBSERVATION] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_RETIREMENTS]

In [0]:
/****** Object:  Table [dbo].[T_RETIREMENTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RETIREMENTS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[RET_STATUS_CODE] [numeric](2, 0) NOT NULL,
	[DATE_SOD] [datetime2](7) NOT NULL,
	[DATE_SOS] [datetime2](7) NULL,
	[RANK_AT_RET_CODE] [numeric](2, 0) NOT NULL,
	[RULE_OF_RET] [numeric](2, 0) NULL,
	[PEN1_NO] [varchar](15) NULL,
	[PEN1_DATE] [datetime2](7) NULL,
	[PEN2_NO] [varchar](15) NULL,
	[PEN2_DATE] [datetime2](7) NULL,
	[PEN3_NO] [varchar](15) NULL,
	[PEN3_DATE] [datetime2](7) NULL,
	[MASTER_UPDATE] [numeric](1, 0) NULL,
	[REMARKS] [varchar](100) NULL,
	[CANCELLATION_DATE] [datetime2](7) NULL,
	[CANCELLATION_AUTH] [varchar](25) NULL,
	[PENSIONABLE] [numeric](1, 0) NULL,
	[ENTITLED_FOR_MEDICAL] [numeric](1, 0) NULL,
	[ISSUED_PAKNO] [numeric](5, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_SECURITY_CLEARANCE]

In [0]:
/****** Object:  Table [dbo].[T_SECURITY_CLEARANCE]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SECURITY_CLEARANCE](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[INITIATED_UNIT_CODE] [varchar](4) NULL,
	[INITIATED_SEC_CODE] [varchar](4) NULL,
	[DATE_INITIATED] [datetime2](7) NULL,
	[PURPOSE_CODE] [numeric](2, 0) NULL,
	[DISPATCH_DATE] [datetime2](7) NULL,
	[CLEARED] [numeric](1, 0) NULL,
	[CLEARANCE_DATE] [datetime2](7) NULL,
	[VALID_UPTO] [varchar](10) NULL,
	[REMARKS] [varchar](50) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL,
	[DECISION_BY] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_SELECTION_PANEL]

In [0]:
/****** Object:  Table [dbo].[T_SELECTION_PANEL]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SELECTION_PANEL](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[TYPE] [numeric](3, 0) NOT NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[MERIT_ORDER] [numeric](3, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_SENIORITY_LOSS]

In [0]:
/****** Object:  Table [dbo].[T_SENIORITY_LOSS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SENIORITY_LOSS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[AUTHORITY_DATE] [datetime2](7) NOT NULL,
	[SENIORITY_LOSS_TYPE_CODE] [numeric](1, 0) NULL,
	[SENIORITY_LOSS_FROM] [datetime2](7) NULL,
	[SENIORITY_LOSS_TO] [datetime2](7) NULL,
	[SENIORITY_LOSS_PERIOD] [varchar](20) NULL,
	[SENIORITY_LOSS_IN_RANK_CODE] [numeric](2, 0) NULL,
	[ADJUSTED_RANK_DATE] [datetime2](7) NULL,
	[SENIORITY_LOSS_IN_REASON_CODE] [numeric](1, 0) NULL,
	[AUTHORITY] [varchar](30) NOT NULL,
	[REMARKS] [varchar](100) NULL,
	[SENIORITY_ADJUSTED] [numeric](1, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_SERVICE_EXAMS]

In [0]:
/****** Object:  Table [dbo].[T_SERVICE_EXAMS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SERVICE_EXAMS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[EXAM_TYPE] [varchar](5) NOT NULL,
	[RESULT] [numeric](1, 0) NOT NULL,
	[PERCENTAGE] [numeric](4, 2) NULL,
	[GRADE] [varchar](2) NULL,
	[POSITION] [numeric](2, 0) NULL,
	[DATE_QUALFIED] [datetime2](7) NULL,
	[NO_OF_CHANCES] [numeric](1, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[T_SPOUSE_EMPLOYMENTS]

In [0]:
/****** Object:  Table [dbo].[T_SPOUSE_EMPLOYMENTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SPOUSE_EMPLOYMENTS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[SPOUSE_NO] [numeric](5, 0) NOT NULL,
	[SPOUSE_EMPLOYEE_NUMBER] [numeric](15, 0) NULL,
	[CURRENT_LOCATION] [varchar](30) NULL,
	[APPOINTMENT] [varchar](30) NULL,
	[DESIGNATION] [varchar](30) NULL,
	[DEPARTMENT] [varchar](30) NULL,
	[ORGANIZATION] [varchar](20) NULL,
	[ARM_CODE] [numeric](2, 0) NULL,
	[RANK_CODE] [numeric](2, 0) NULL,
	[APPOINTMENT_DATE] [datetime2](7) NULL,
	[SERVING_OR_RETD] [numeric](1, 0) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_SPOUSES]

In [0]:
/****** Object:  Table [dbo].[T_SPOUSES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SPOUSES](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[SPOUSE_NO] [numeric](1, 0) NOT NULL,
	[SPOUSE_NAME] [varchar](45) NOT NULL,
	[SPOUSE_MAIDEN_NAME] [varchar](45) NULL,
	[SPOUSE_OCCUPATION_BEFORE] [numeric](3, 0) NULL,
	[SPOUSE_OCCUPATION_AFTER] [numeric](3, 0) NULL,
	[DATE_OF_MARRIAGE] [datetime2](7) NULL,
	[PLACE_OF_MARRIAGE] [varchar](15) NULL,
	[NATIONALITY_CODE] [numeric](3, 0) NULL,
	[SPOUSE_RELIGION_BEFORE_CODE] [numeric](2, 0) NULL,
	[SPOUSE_RELIGION_AFTER_CODE] [numeric](2, 0) NULL,
	[NATIONALITY_CODE_2] [numeric](3, 0) NULL,
	[PLACE_OF_BIRTH] [numeric](4, 0) NULL,
	[DATE_OF_BIRTH] [datetime2](7) NULL,
	[STATUS] [numeric](2, 0) NULL,
	[STATUS_DATE] [datetime2](7) NULL,
	[SPOUSE_CNIC] [varchar](15) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL,
	[DISABILITY] [varchar](4) NULL,
	[DISABILITY_DATE] [datetime2](7) NULL,
	[DISABILITY_REMARKS] [varchar](200) NULL,
	[MEDICAL_ENTITLEMENT] [varchar](1) NULL
) ON [PRIMARY]
GO

# [dbo].[T_SPOUSES_BACKUP]

In [0]:
/****** Object:  Table [dbo].[T_SPOUSES_BACKUP]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SPOUSES_BACKUP](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[SPOUSE_NO] [numeric](1, 0) NOT NULL,
	[SPOUSE_NAME] [varchar](45) NOT NULL,
	[SPOUSE_MAIDEN_NAME] [varchar](45) NULL,
	[SPOUSE_OCCUPATION_BEFORE] [numeric](3, 0) NULL,
	[SPOUSE_OCCUPATION_AFTER] [numeric](3, 0) NULL,
	[DATE_OF_MARRIAGE] [datetime2](7) NULL,
	[PLACE_OF_MARRIAGE] [varchar](15) NULL,
	[NATIONALITY_CODE] [numeric](3, 0) NULL,
	[SPOUSE_RELIGION_BEFORE_CODE] [numeric](2, 0) NULL,
	[SPOUSE_RELIGION_AFTER_CODE] [numeric](2, 0) NULL,
	[NATIONALITY_CODE_2] [numeric](3, 0) NULL,
	[PLACE_OF_BIRTH] [numeric](4, 0) NULL,
	[DATE_OF_BIRTH] [datetime2](7) NULL,
	[STATUS] [numeric](2, 0) NULL,
	[STATUS_DATE] [datetime2](7) NULL,
	[SPOUSE_CNIC] [varchar](15) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL,
	[DISABILITY] [varchar](4) NULL,
	[DISABILITY_DATE] [datetime2](7) NULL,
	[DISABILITY_REMARKS] [varchar](200) NULL,
	[MEDICAL_ENTITLEMENT] [varchar](1) NULL
) ON [PRIMARY]
GO

# [dbo].[T_SPOUSES_ISDEV]

In [0]:
/****** Object:  Table [dbo].[T_SPOUSES_ISDEV]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SPOUSES_ISDEV](
	[PAKNO] [float] NULL,
	[SPOUSE_NO] [float] NULL,
	[SPOUSE_NAME] [varchar](500) NULL,
	[SPOUSE_OCCUPATION_BEFORE] [float] NULL,
	[SPOUSE_OCCUPATION_AFTER] [float] NULL,
	[SPOUSE_RELIGION_BEFORE_CODE] [float] NULL,
	[SPOUSE_RELIGION_AFTER_CODE] [float] NULL,
	[STATUS] [float] NULL,
	[SPOUSE_CNIC] [varchar](13) NULL,
	[NATIONALITY_CODE] [float] NULL,
	[DATE_OF_BIRTH] [datetime2](7) NULL,
	[DISTRICT] [float] NULL,
	[TEHSIL] [float] NULL,
	[SPOUSE_ADDRESS] [varchar](500) NULL,
	[LAND_LINE] [varchar](50) NULL,
	[MOBILE] [varchar](50) NULL,
	[OCCUPATION_DETAILS] [varchar](500) NULL,
	[OCCUPATION_SECTOR] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_STATUS_HISTORY]

In [0]:
/****** Object:  Table [dbo].[T_STATUS_HISTORY]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_STATUS_HISTORY](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[PERM_STATUS] [numeric](2, 0) NOT NULL,
	[CURRENT_STATUS] [numeric](2, 0) NOT NULL,
	[FROM_DATE] [datetime2](7) NOT NULL,
	[TO_DATE] [datetime2](7) NULL,
	[REMARKS] [varchar](100) NULL,
	[AUTHORITY] [varchar](25) NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL,
	[USER_ID] [varchar](50) NULL,
	[LOG_ON_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_STAY_ABROAD]

In [0]:
/****** Object:  Table [dbo].[T_STAY_ABROAD]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_STAY_ABROAD](
	[PAKNO] [numeric](5, 0) NULL,
	[FROM_DATE] [datetime2](7) NULL,
	[TO_DATE] [datetime2](7) NULL,
	[STAY_AS] [varchar](25) NULL,
	[COUNTRY] [varchar](4000) NULL,
	[DAYS] [float] NULL,
	[WTG] [float] NULL,
	[PURPOSE] [varchar](4000) NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[COUNTRY_CODE] [numeric](3, 0) NULL,
	[STAY_TYPE_CODE] [float] NULL,
	[STAY_SUBTYPE_CODE] [float] NULL,
	[PAK_RS] [float] NULL,
	[FOREIGN_EXCH] [float] NULL,
	[OPI] [varchar](80) NULL
) ON [PRIMARY]
GO

# [dbo].[T_STREAMS]

In [0]:
/****** Object:  Table [dbo].[T_STREAMS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_STREAMS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[MAIN_STREAM_CODE] [numeric](2, 0) NULL,
	[SUB_STREAM_CODE] [numeric](2, 0) NULL,
	[STREAM_NO] [numeric](1, 0) NULL,
	[DATE_FROM] [datetime2](7) NOT NULL,
	[DATE_TO] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_STRENGTH_PHATTA]

In [0]:
/****** Object:  Table [dbo].[T_STRENGTH_PHATTA]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_STRENGTH_PHATTA](
	[VACANCY_BASE] [float] NULL,
	[VACANCY_BRANCH] [varchar](2) NULL,
	[BRANCH_DECODE] [varchar](10) NULL,
	[PLTOFF] [float] NULL,
	[FLGOFF] [float] NULL,
	[FLTLT] [float] NULL,
	[SQNLDR] [float] NULL,
	[WGCDR] [float] NULL,
	[GPCAPT] [float] NULL,
	[AIRCDRE] [float] NULL,
	[AVM] [float] NULL,
	[AM] [float] NULL,
	[ACM] [float] NULL,
	[MOA] [float] NULL,
	[STATE_DATE] [datetime2](7) NULL,
	[VACANCY_SUB_BRANCH] [float] NULL,
	[SUB_BRANCH_DECODE] [varchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[T_UPDATES_OMS]

In [0]:
/****** Object:  Table [dbo].[T_UPDATES_OMS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_UPDATES_OMS](
	[SRNO] [numeric](4, 0) NOT NULL,
	[AREA] [varchar](40) NOT NULL,
	[NEWS_FLASH] [varchar](100) NOT NULL,
	[NEWS_URL] [varchar](50) NOT NULL,
	[DATE_VALID_UPTO] [datetime2](7) NOT NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATION_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_UPR_WPR_DATA]

In [0]:
/****** Object:  Table [dbo].[T_UPR_WPR_DATA]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_UPR_WPR_DATA](
	[PAKNO] [float] NOT NULL,
	[DOCUMENT_TYPE] [varchar](10) NOT NULL,
	[YEAR] [float] NOT NULL,
	[DOCUMENT_NAME] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[T_VACANCIES]

In [0]:
/****** Object:  Table [dbo].[T_VACANCIES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_VACANCIES](
	[VACANCY_MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[VACANCY_SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[VACANCY_RANK_CODE] [numeric](2, 0) NOT NULL,
	[VACANCY_UNIT_CODE] [varchar](4) NOT NULL,
	[VACANCY_SERIAL_NO] [numeric](3, 0) NOT NULL,
	[VACANCY_STATUS] [numeric](1, 0) NOT NULL,
	[VACANCY_BASE] [numeric](2, 0) NOT NULL,
	[VACANCY_DESCRIPTION] [varchar](40) NOT NULL,
	[VACANCY_TYPE] [numeric](2, 0) NOT NULL,
	[VACANCY_DURATION_FROM] [datetime2](7) NULL,
	[VACANCY_DURATION_TO] [datetime2](7) NULL,
	[ESTAB_NO] [varchar](40) NULL,
	[AUTHORITY] [varchar](40) NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL,
	[FILLED_OR_VACANT] [numeric](1, 0) NULL,
	[PAKNO_POSTED] [numeric](5, 0) NULL,
	[PAKNO_DEPLOYED] [numeric](5, 0) NULL,
	[TENABLE] [numeric](1, 0) NULL,
	[TENABLE_TO_BRANCH] [varchar](30) NULL,
	[VACANCY_CONTROL_CODE] [numeric](8, 0) NOT NULL,
	[REMARKS] [varchar](100) NULL,
	[VACANCY_SECTION_CODE] [varchar](4) NOT NULL,
	[KEY_APPOINTMENTS] [numeric](2, 0) NULL,
	[ESTAB_NO_DATE] [datetime2](7) NULL,
	[SHIFTED_NO_YES] [numeric](1, 0) NULL,
	[VACANCY_ID] [varchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[T_WAR_TIME_DEPLOYMENTS]

In [0]:
/****** Object:  Table [dbo].[T_WAR_TIME_DEPLOYMENTS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_WAR_TIME_DEPLOYMENTS](
	[PAKNO] [numeric](5, 0) NOT NULL,
	[FOB_NAME_CODE] [numeric](2, 0) NULL,
	[FOB_VACANCY_CODE] [numeric](2, 0) NULL,
	[FOB_VACANCY_BRANCH] [varchar](2) NULL,
	[FROM_DATE] [datetime2](7) NOT NULL,
	[TO_DATE] [datetime2](7) NULL,
	[AUTHORITY] [varchar](25) NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO

# [dbo].[T_WAR_VETERANS]

In [0]:
/****** Object:  Table [dbo].[T_WAR_VETERANS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_WAR_VETERANS](
	[PAKNO] [float] NOT NULL,
	[WAR_65] [float] NULL,
	[WAR_71] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[T_WORKING_VACANCIES]

In [0]:
/****** Object:  Table [dbo].[T_WORKING_VACANCIES]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_WORKING_VACANCIES](
	[VACANCY_MAIN_BRANCH_CODE] [varchar](1) NOT NULL,
	[VACANCY_SUB_BRANCH_CODE] [numeric](1, 0) NOT NULL,
	[VACANCY_RANK_CODE] [numeric](2, 0) NOT NULL,
	[VACANCY_UNIT_CODE] [varchar](4) NOT NULL,
	[VACANCY_SERIAL_NO] [numeric](3, 0) NOT NULL,
	[VACANCY_STATUS] [numeric](1, 0) NOT NULL,
	[VACANCY_BASE] [numeric](2, 0) NOT NULL,
	[VACANCY_DESCRIPTION] [varchar](40) NOT NULL,
	[VACANCY_TYPE] [numeric](2, 0) NOT NULL,
	[VACANCY_DURATION_FROM] [datetime2](7) NULL,
	[VACANCY_DURATION_TO] [datetime2](7) NULL,
	[ESTAB_NO] [varchar](40) NULL,
	[AUTHORITY] [varchar](40) NULL,
	[AUTHORITY_DATE] [datetime2](7) NULL,
	[FILLED_OR_VACANT] [numeric](1, 0) NULL,
	[PAKNO_POSTED] [numeric](5, 0) NULL,
	[PAKNO_DEPLOYED] [numeric](5, 0) NULL,
	[TENABLE] [numeric](1, 0) NULL,
	[TENABLE_TO_BRANCH] [varchar](30) NULL,
	[VACANCY_CONTROL_CODE] [numeric](8, 0) NOT NULL,
	[REMARKS] [varchar](100) NULL,
	[VACANCY_SECTION_CODE] [varchar](4) NOT NULL,
	[KEY_APPOINTMENTS] [numeric](2, 0) NULL,
	[ESTAB_NO_DATE] [datetime2](7) NULL,
	[SHIFTED_NO_YES] [numeric](1, 0) NULL,
	[VACANCY_ID] [varchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[T_WORKING_VACANCIES_PHATTA]

In [0]:
/****** Object:  Table [dbo].[T_WORKING_VACANCIES_PHATTA]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_WORKING_VACANCIES_PHATTA](
	[VACANCY_BASE] [float] NULL,
	[VACANCY_BRANCH] [varchar](2) NULL,
	[BRANCH_DECODE] [varchar](10) NULL,
	[PLTOFF] [float] NULL,
	[FLGOFF] [float] NULL,
	[FLTLT] [float] NULL,
	[SQNLDR] [float] NULL,
	[WGCDR] [float] NULL,
	[GPCAPT] [float] NULL,
	[AIRCDRE] [float] NULL,
	[AVM] [float] NULL,
	[AM] [float] NULL,
	[ACM] [float] NULL,
	[MOA] [float] NULL,
	[STATE_DATE] [datetime2](7) NULL,
	[VACANCY_SUB_BRANCH] [float] NULL,
	[SUB_BRANCH_DECODE] [varchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[T_YEARS]

In [0]:
/****** Object:  Table [dbo].[T_YEARS]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_YEARS](
	[YEAR] [numeric](5, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[tbl_MenuRoleMapping]

In [0]:
/****** Object:  Table [dbo].[tbl_MenuRoleMapping]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MenuRoleMapping](
	[iMenuRoleID] [int] IDENTITY(1,1) NOT NULL,
	[iMenuID] [int] NOT NULL,
	[iRoleID] [int] NOT NULL,
	[iCanView] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[iMenuRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tbl_Menus]

In [0]:
/****** Object:  Table [dbo].[tbl_Menus]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Menus](
	[iMenuID] [int] IDENTITY(1,1) NOT NULL,
	[sMenuName] [nvarchar](50) NOT NULL,
	[iParentMenuID] [int] NULL,
	[sUrl] [nvarchar](255) NULL,
	[iOrderNo] [int] NULL,
 CONSTRAINT [PK__tbl_Menu__C4E068CE80CF8682] PRIMARY KEY CLUSTERED 
(
	[iMenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tbl_Privileges]

In [0]:
/****** Object:  Table [dbo].[tbl_Privileges]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Privileges](
	[iPrivilegeID] [int] IDENTITY(1,1) NOT NULL,
	[sPrivilegeName] [nvarchar](50) NOT NULL,
	[sDescription] [nvarchar](255) NULL,
 CONSTRAINT [PK__tbl_Priv__ACC994BB7ACD4A77] PRIMARY KEY CLUSTERED 
(
	[iPrivilegeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tbl_RoleBranchMapping]

In [0]:
/****** Object:  Table [dbo].[tbl_RoleBranchMapping]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RoleBranchMapping](
	[iRoleBranchID] [int] IDENTITY(1,1) NOT NULL,
	[iRoleID] [int] NULL,
	[iBranchID] [int] NULL,
	[iIsAllowed] [int] NULL,
 CONSTRAINT [PK_tbl_RoleBranchMapping] PRIMARY KEY CLUSTERED 
(
	[iRoleBranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tbl_RolePrivilegeMapping]

In [0]:
/****** Object:  Table [dbo].[tbl_RolePrivilegeMapping]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RolePrivilegeMapping](
	[iRolePrivilegeID] [int] IDENTITY(1,1) NOT NULL,
	[iMenuRoleID] [int] NULL,
	[iPrivilegeID] [int] NOT NULL,
	[iIsAllowed] [bit] NULL,
 CONSTRAINT [PK__tbl_Role__0EE9B4A39E091546] PRIMARY KEY CLUSTERED 
(
	[iRolePrivilegeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tbl_Roles]

In [0]:
/****** Object:  Table [dbo].[tbl_Roles]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Roles](
	[iRoleID] [int] IDENTITY(1,1) NOT NULL,
	[sRoleName] [varchar](50) NOT NULL,
	[sDescription] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[iRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tbl_UserLoginHistory]

In [0]:
/****** Object:  Table [dbo].[tbl_UserLoginHistory]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserLoginHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId_FKId] [nvarchar](450) NULL,
	[UserName] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](max) NULL,
	[MACAddress] [nvarchar](max) NULL,
	[LoginDateTime] [datetime] NULL,
	[IsSuccess] [bit] NULL,
	[Actions] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[tbl_Users]

In [0]:
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 03/12/2025 1:22:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[sCommand] [nvarchar](50) NULL,
	[sBase] [nvarchar](50) NULL,
	[sUnit] [nvarchar](50) NULL,
	[iPakno] [int] NULL,
	[sCategory] [nvarchar](50) NULL,
	[sName] [nvarchar](100) NULL,
	[sRank] [nvarchar](50) NULL,
	[iRoleID] [int] NULL,
	[sUsername] [varchar](50) NOT NULL,
	[sPasswordHash] [varchar](255) NOT NULL,
	[iIsActive] [bit] NULL,
	[dCreatedDate] [datetime] NULL,
 CONSTRAINT [PK__tbl_User__1788CCACA9C04689] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__tbl_User__3FEB87678DCE5EF7] UNIQUE NONCLUSTERED 
(
	[sUsername] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [DF__tbl_MenuR__CanVi__32E0915F]

In [0]:
ALTER TABLE [dbo].[tbl_MenuRoleMapping] ADD  DEFAULT ((1)) FOR [iCanView]
GO

# [DF__tbl_Menus__iOrde__300424B4]

In [0]:
ALTER TABLE [dbo].[tbl_Menus] ADD  CONSTRAINT [DF__tbl_Menus__iOrde__300424B4]  DEFAULT ((0)) FOR [iOrderNo]
GO

# [DF__tbl_RoleP__iIsAl__37A5467C]

In [0]:
ALTER TABLE [dbo].[tbl_RolePrivilegeMapping] ADD  CONSTRAINT [DF__tbl_RoleP__iIsAl__37A5467C]  DEFAULT ((1)) FOR [iIsAllowed]
GO

# [DF__tbl_Users__iIsAc__25869641]

In [0]:
ALTER TABLE [dbo].[tbl_Users] ADD  CONSTRAINT [DF__tbl_Users__iIsAc__25869641]  DEFAULT ((1)) FOR [iIsActive]
GO

# [DF__tbl_Users__Creat__267ABA7A]

In [0]:
ALTER TABLE [dbo].[tbl_Users] ADD  CONSTRAINT [DF__tbl_Users__Creat__267ABA7A]  DEFAULT (getdate()) FOR [dCreatedDate]
GO